[2018-03-12 20:12] daranzolin opened #9 "Analysis of Gradebooks -- In scope?"
It might be useful to include a section on EDA within the context of gradebooks. I suspect thousands of teachers and department chairs have exported a gradebook, opened the spreadsheet, and wondered what to do next. I myself have wondered what to look for when combing through summative and formative assessments.

Please ignore the vulgarity of the code, but [I ventured a small tutorial for the Mic

[2018-03-13 00:26] kierisi commented on #9
Gradebooks are probably one of the biggest standardized data sources that a teacher uses, regardless of discipline, location, background, etc. In fact, gradebooks/trackers/etc. might be one of the best "touchstone" data pieces used as an example throughout the book - from import to wrangling and analysis and even prediction.

[2018-03-13 00:36] jkaupp commented on #9
+1 to what @kierisi  said above, and this entire issue.  While it's the most common piece for instructors to use, there is one of two thing that happen (speaking from dealing with Engineering Faculty in Higher Ed).

1.  They make a histogram of midterm and final grades, look at the distribution and are done.
2.  They do what @daranzolin suggests.

These are people with advanced training in statist

[2018-03-13 01:40] daranzolin commented on #9
@kierisi @jkaupp do either of you know of another sample gradebook analysis? Perhaps resembling what you envisage for the book?

[2018-03-13 02:56] restrellado commented on #9
Thank you for starting this issue! Can we anonymize an actual gradebook export and each take a crack at doing some EDA on it? Might be fun to share out and see how we all tackled it. Then we can extract some good practices and write it up for the book.

By the way @daranzolin as a fellow Californian I'm totally interested in your CDE package!

[2018-03-13 03:18] daranzolin commented on #9
@restrellado Hey thanks! I need to update it--I think they've released the 16-17 data since I created the package.

My last foray into gradebooks was an attempt to identify "busy work", which we suspected littered our curriculum. A metric I considered was the R^2 between the assignment and a formative assessment, such as a mid-term or final exam. For example, would a low R^2 imply busy work? Crude

[2018-03-13 14:14] jsonbecker commented on #9
Are there any standardized data formats for grade information? I haven't worked much across site with non-course level grading, but I'm assuming there are some common formats for standards-based grading and traditional grading beyond "spreadsheet with kids in rows and grades for assessments in columns".

FWIW, grade books in the classic sense seem like a great tool to learn about "long" versus "wi

[2018-03-13 14:44] jkaupp commented on #9
I'd venture to say that 90% of LMS gradebooks are just that, and would be a potential in-context data set to illustrate long v wide.

@daranzolin  IMO, relevance goes hand in hand with curriculum design and alignment rather than performance.  If you're ignoring constructive alignment then I'd label it 'busy work', but if the assessment is timely, purposeful and meaningful then it is hardly 'busy w

[2018-03-13 15:01] kierisi commented on #9
seconding the format of gradebooks - it's been my experience as a HS teacher that it's up to individuals to create their own gradebooks, which almost always involved wide data in Excel.

some schools do purchase software for grading, and each program has varying levels of access to the data - the ones I've used will show you different dashboards, but if you want to work with the data yourself, you

[2018-03-14 04:14] restrellado commented on #9
I started a [script for us to make a fake wide format gradebook dataset](https://github.com/restrellado/sample_gradebook). This is just a start. Please feel free to do whatever you need to make it more authentic. I'll add everyone here as collaborators.

[2018-04-03 20:51] jrosen48 opened #11 "drafting unique challenges in educational data"
Hi all, was thinking of outlining / drafting this chapter (chapter 4). If it's okay for me to work on, will share more thoughts and ideas as I begin to make progress.

[2018-04-04 19:09] kierisi commented on #11
go for it!

[2018-04-04 19:11] kierisi opened #12 "drafting foundational skills"
happy to take on outlining and beginning work on this chapter!

[2018-04-18 22:44] jrosen48 commented on #11
Hi all, I added a super rough draft [here](https://github.com/jrosen48/data-science-in-education/blob/master/04-unique-challenges.Rmd)

[2018-05-29 01:26] jrosen48 opened #13 "Ideas for potential data sets?"
Hi all, curious what thoughts you all have on potential data sets to use in examples. I added a file to the planning folder with just a few bare-bones ideas (see [here](https://github.com/jrosen48/data-science-in-education/blob/master/planning/potential_data_sources.Rmd)), but we can edit that in conjunction with discussing this here or elsewhere.

[2018-06-26 16:17] jrosen48 commented on #13
That `.Rmd` file in the planning folder has some additional ideas on this topic.

[2018-06-26 16:17] #13 closed

[2018-06-26 16:18] jrosen48 commented on #11
Hi all, I updated this in this [PR](https://github.com/jrosen48/data-science-in-education/pull/16); still in draft form: needs more examples, references to other resources, etc.

[2018-06-26 16:22] jrosen48 opened #17 "drafting walkthrough using data from students in an online science class"
I'd like to draft a walkthrough using some data from students in an online science class.

The data, which I collected with a colleague, is anonymized--or at least I think it is, though I'd like feedback on this; see this [PR](https://github.com/jrosen48/data-science-in-education/pull/16), and is from around 650 students from around 20 science classes in a large, state-wide, public high school. Th

[2018-06-27 15:59] restrellado opened #18 "Discuss and develop narrative structure"
During yesterday's call we noticed the narrative structure of the book coming together. We talked about how groups of chapters could serve the main points. These are the basic ideas:

**Part 1: Chapters 1-4**

 - Educators who use data science techniques face unique challenges
 - It takes a lot of people in different roles to create a good learning environment. Different education roles mean diffe

[2018-06-28 16:07] ivelasq opened #19 "Data Science in Education or Educational Data Science?"
I saw that some chapters refer to "data science in education" (Chapter 2) and some chapters refer to "educational data science" (Chapter 4: Unique Challenges). Are they the same thing? If yes, should we norm on one term? If no, should we have definitions for them early on?

[2018-06-28 16:07] ivelasq opened #20 "Data: plural or singular?"
Sometimes "data" is plural and sometimes it is singular - can we norm on one?

[2018-06-29 00:17] ivelasq opened #21 "publicly available data"
Hi again,

I can most contribute on topics regarding wrangling public datasets. I've worked with NAEP and would be glad to take on that chapter. Another thing I was thinking was showing imputation with [EdFacts](https://www2.ed.gov/rschstat/landing.jhtml?src=pn) graduation data, which is suppressed when there are small cell sizes. Let me know if this is applicable to your work and how I can get st

[2018-06-29 17:28] restrellado commented on #19
I just looked at it again and I think both are pointing to the same thing. I think "data science in education" is more precise because we're writing about doing data science *in the field of education*, versus doing data science *that can be described as educational*. On the other hand, every time I write "data science in education" it feels really ham-fisted. It's been really challenging getting

[2018-06-29 17:33] restrellado commented on #20
Yes! And thank you for the good catch. I found this [write-up](http://www.onlinegrammar.com.au/top-10-grammar-myths-data-is-plural-so-must-take-a-plural-verb/) useful. I'll have to go through the drafts more thoroughly, but I'm guessing that we're mostly using "data" to describe general information. In that case we should be using the singular. Open to other thoughts!

[2018-06-30 00:56] jrosen48 commented on #21
Isabella, I think this sounds like a fantastic addition to this project! Thanks for considering contributing (and sharing your expertise). Okay, two ideas for thought:

1. Could the imputation with EdFacts data be a section of Advanced Uses (preview: multi-level models [i.e., HLM], network analysis, and text analysis are presently part of the section).

2. I'm thinking NAEP data could be a *great*

[2018-07-21 00:43] jrosen48 opened #22 "Discussing this burgeoning book in an AERA conference presentation?"
Hi all, I have an opportunity to discuss 'open science' as part of a proposal to present at the [American Educational Research Association (AERA) conference](http://www.aera.net/Events-Meetings/Annual-Meeting/2019-Annual-Meeting-Theme).

My first thought was to discuss some of my experiences writing this book. I've found it rewarding and perspective-broadening to write this collaboratively and in

[2018-07-21 20:41] restrellado commented on #22
I'd be totally ok with this. I can't make it out to Toronto, but let me know if there's something I can do to support. When will you be presenting? It will be a good way to put more pressure on me to write ahead of the date 👍

[2018-07-21 20:54] restrellado commented on #18
Moved to the readme in PR #23

[2018-07-21 20:54] #18 closed

[2018-07-22 17:58] jrosen48 commented on #22
Awesome. Presentation will be mid-late August (if it's accepted). I'll send you the doc r/n.

[2018-07-23 15:04] jrosen48 commented on #22
See submitted document [here](https://github.com/jrosen48/data-science-in-education/tree/master/sharing-out)

[2018-07-23 15:04] #22 closed

[2018-07-23 15:06] jrosen48 commented on #21
Isabella, just wanted to circle back to this - continue to think these are important contributions and hope that you'd still be interested in contributing (if interested, we have next convo sched. for Tuesday, August 7, at 9:00 pm EST; could definitely discuss then, too).

[2018-07-23 19:19] jrosen48 commented on #22
@restrellado if you have chance can you ping me email address for submission

[2018-07-23 19:51] restrellado commented on #22
Hello! You can use ryan.estrellado@gmail.com

On Mon, Jul 23, 2018, 12:19 PM Joshua Rosenberg <notifications@github.com>
wrote:

[2018-08-08 01:36] restrellado opened #25 "Create a style guide"
This was an idea we discussed during our call on August 7, 2018. The idea was to create a style guide to make our code consistent. We should also use the style guide to select one package when there are multiple packages that have similar purposes.

[2018-08-08 03:01] #9 closed

[2018-08-08 03:02] #11 closed

[2018-08-08 03:04] #17 closed

[2018-08-14 01:36] restrellado opened #26 "Examples of Data Science Roles Needed"
Can you please send me a DM on Slack (RyanEs) with a short description about the data science work you do in education?

I'm working on chapter 3, which is about the role of a data scientist in education. I want to get some examples of what y'all do in your day-to-day work and what your responsibilities are as someone who does data science in the education field. I think sharing different examples

[2018-08-15 14:47] jrosen48 commented on #26
Here's just a rough sketch; hope this is headed in right direction in terms of what you're looking for:

- I use data science tools to analyze different sources of educational data: self-report survey data, log-trace data, written/text data, and data from social media, particularly
- I (try to) develop data science tools in the form of R packages, especially for my own use and for research collabo

[2018-08-16 01:01] restrellado commented on #26
This is perfect. Thank you!

[2018-09-04 23:26] kierisi commented on #25
are there any objections to the `tidyverse`? I'll argue that it provides consistent syntax and formatting that is also easy to read, and consistent between packages.

I realize this may require re-writing some chapters, and is a pretty heavy enforcement of style. however if the audience is largely coming from a non-technical background and looking to develop their skills in data science, the benef

[2018-09-04 23:28] kierisi commented on #21
I'm happy to start working on walkthroughs with the NAEP data.

[2018-09-05 00:08] #12 closed

[2018-09-05 00:58] jrosen48 commented on #25
I think adhering to the tidyverse is a great idea.

[2018-09-05 01:00] restrellado commented on #25
I live in tidyverse. I'm all for it!

[2018-09-05 01:01] jrosen48 commented on #19
Flagging that this came up in #27. I could go either way. Not to further complicate things, but if I think about teachers and students "doing data science," I wonder if that can be referred to as (a third term!) "data science education"?

[2018-09-10 13:19] jkaupp commented on #19
I'd avoid "data science education" as most disciplines use "x education" as the development of teaching/pedagogy in that area. I think of it as applying the techniques and tools of whatever in an educational context.

I think it would be beneficial to have that sort of clarifying statement early in the book.  Something like

[2018-09-19 02:11] jrosen48 opened #31 "Changes to #28 (foundational skills draft)"
Thank you @ivelasq, @kierisi, and @restrellado for your thoughts on #28. Here are the things that based on the feedback that I think need to be done:

1. The idea of having two tracks seems to have some traction: I like this and forgot that *some* our readers will have experience using R - or at least may have used it a few times, attended a workshop, or been involved with a collaborator who used

[2018-09-19 23:39] jmostipak commented on #21
in thinking about K-12 educators and what they're most likely to be familiar/working with, I came back to gradebooks. they're a mess, and there's *a lot* to unpack in terms of getting them into a tidy format, but I also think it's the most accessible/relatable data for educators to be working with.

I've gone ahead and started working on a gradebook walk-through for walkthrough #2 and will get a P

[2018-11-05 18:15] #31 closed

[2018-12-28 15:38] jrosen48 opened #36 "Ideas for chapter 10 (solutions for adopting data science techniques in education)"
Just a few ideas for this chapter--open to (and requiring) more ideas & input:

- Have a project/problem to work on
- Start where people are (with the tools they use and the data they have - as well as the problems they are trying to solve with data science/R)
- Recognize that using data science tools such as R can take a long time and an investment of effort

[2018-12-28 15:42] jrosen48 opened #37 "Question about ideas for chapter 11 (students doing data science)"
This chapter is an odd duck: every other chapter focuses upon teachers/administrators/researchers/policymakers using data science techniques (and R), whereas this focuses more upon teaching individuals at the K-12 age.

I wonder if in some ways we can suggest that some of the ideas and techniques used in this book could be used to teach youth/students, i.e. some of the ideas potential ideas for ch

[2018-12-28 15:46] jrosen48 opened #38 "What to do with chapter 6?"
Does anyone else find it sort of strange that Advanced Uses ([06-advanced-uses.Rmd](https://github.com/data-edu/data-science-in-education/blob/master/06-advanced-uses.Rmd)) comes before our walkthroughs? Can we move this--or integrate the content that would be in this into the walkthroughs?

[2018-12-28 16:53] restrellado commented on #38
Totally open to moving this. Might be good to just go ahead and move it and see how it looks and reads as those sections take shape. Go ahead Josh!

[2018-12-28 17:08] restrellado commented on #37
Good points! I think the original idea here was to argue for teaching K-12 students the "soft skills" relating to data science as a way to move the field forward. It goes back to the struggle we all have with creating a feeling of safety and confidence about how our data is used through transparency in methods and empathy for the consumers of the data. So if those principles get clarified and taug

[2018-12-28 20:32] jrosen48 commented on #38
will do, thx

[2018-12-28 23:37] #38 closed

[2018-12-28 23:51] restrellado commented on #36
Yes! I think one easy point of entry that doesn't require knowing R is working on generating and refining useful data science questions. I'd like to at least touch on this in this section for a couple reasons: First, it makes the point that folks who aren't ready to jump into programming and statistics can still participate in the analysis process. Second, if we apply statistics and programming wi

[2019-01-08 21:06] jrosen48 opened #41 "fix simulated data for walkthrough 4"
For walkthrough 4 ([`09-walkthrough-4.Rmd`](https://github.com/data-edu/data-science-in-education/blob/master/09-walkthrough-4.Rmd)), there is a problem with the simulated data. The key when generating the data is that nominators with higher values of `yvar2` need to have relations with - have nominated - nominees with higher levels of `yvar1`. This isn't the case yet.

[2019-01-08 21:08] jrosen48 commented on #41
Just as a bit of context, this walkthrough involves an expansion of [a blog post I wrote](https://joshuamrosenberg.com/blog/social-network-analysis-model-for-influence/); there, I used a very small data set (*n* = 6!). I hoped this example would involve a larger data set, but simulating the data led to this addressable, but challenging, ussue.

[2019-01-08 21:35] jrosen48 opened #42 "possible next steps for walkthrough 1"
Walkthrough 1 ([`06-walkthrough-1.Rmd`](https://github.com/data-edu/data-science-in-education/blob/master/06-walkthrough-1.Rmd)) has a foundation, but has some room for improvement, especially with respect to the newer parts on visualizations and models.

Right now, these focus on a fairly obvious relationship between the time students spent on the course and the percentage of possible points earn

[2019-01-09 05:12] restrellado commented on #41
I wonder if one solution is to generate a separate table of higher value `yvar1` and higher value `yvar2`. `yvar2` could be generated from `yvar1` * a coefficient + an error term (assuming you want a linear relationship). Once you have that then you can append this new dataset to the dataset you were using in the walkthrough. I can work up a reprex but just wanted to throw the idea out there in ca

[2019-01-09 14:31] jrosen48 commented on #41
That would be super helpful.

[2019-01-10 01:35] jmostipak opened #44 "coding convention suggestions for walkthrough 6"
in reading through walkthrough 6 I noticed that the code switched back and forth between base R and the tidyverse styles in cases where tidyverse solutions are available. depending on the intended audience for the text it may be beneficial to choose a single syntax structure and use it consistently throughout the text.

I'm happy to take a pass at some of the code formatting if that would be helpf

[2019-01-10 04:20] restrellado commented on #41
[Here's what I was thinking about](https://github.com/restrellado/example_sim_data). I added you in as a collaborator so we can mess around with it more. I haven't had a chance to update my repo and run all your code yet so I don't know if this can get bolted on neatly to your simulated dataset, but the rough idea is there. We can make adjustments to the parameters so it's more plausible then tran

[2019-01-15 01:49] jrosen48 commented on #41
Thanks all. The key that I am still challenged to address is that it is not *yvar1* and *yvar2* need to be correlated (i.e., within a person), but rather that **nominators with higher values of yvar2 need to have have relations with nominees with higher levels of yvar1**. Each nominator can report relations with, say, between 1 to 10 nominees (this is up to us).

[2019-01-19 04:18] ivelasq commented on #42
Hi, I can add on to this walkthrough but when running the code, I get an error on line 136 because type must be double not integer. Does anybody else get this error?

[2019-01-19 16:17] jrosen48 commented on #42
Awesome. I think @restrellado is working on this in #46 (this morning!)

[2019-01-19 17:16] restrellado commented on #42
Yep I'm on it!

[2019-01-30 03:52] #44 closed

[2019-01-30 03:53] #42 closed

[2019-04-11 02:43] restrellado commented on #19
We've made some progress on this discussion while working on the proposal. I'll close it for now.

[2019-04-11 02:43] #19 closed

[2019-04-11 02:47] restrellado opened #56 "Test code in walkthrough 1"
The code in walkthrough 1 needs to be run locally to see if everything works as written.

[2019-04-24 00:53] #37 closed

[2019-04-24 00:59] restrellado commented on #36
Just clarifying the next action on this issue: write about content that informs part 3 of the narrative.

I'll assign myself to this one but am happy to collaborate.

[2019-04-24 00:59] #25 closed

[2019-04-24 01:05] restrellado commented on #21
Hey y'all! Just wanted to get this conversation going again. I see that Jesse started working on the gradebook walkthrough. Do we still plan to do a walkthrough using NAEP data? If so, I'm happy to open up another file as a placeholder.

[2019-04-24 01:11] ivelasq commented on #21
Yup! NAEP will be Walkthrough 5: https://github.com/data-edu/data-science-in-education/blob/master/10-walkthrough-5.Rmd

[2019-04-24 01:13] restrellado commented on #20
Closing this one for now, but we can do a future copyediting issue to correct any inconsistencies with pluralization.

[2019-04-24 01:13] #20 closed

[2019-04-24 04:04] restrellado commented on #21
Awesome! I'll close this down then open up new issues for the gradebook chapter and the NAEP chapter and will assign Jesse and Isabella respectively. Thanks!

[2019-04-24 04:04] #21 closed

[2019-04-24 04:32] restrellado opened #58 "Draft Walkthrough #5 (NAEP Data)"
New content for walkthrough 5, which uses publicly available NAEP data.

[2019-04-24 04:35] restrellado opened #59 "Draft gradebook data walkthrough"
New content for walkthrough 2, which uses gradebook data.

[2019-06-04 17:06] jmostipak opened #61 "error in multilevel models part 1: missing column name"
for now I've set the code chunk to ignore the error when compiling using

[code]

[2019-06-04 17:18] jmostipak opened #62 "error in random forest chapter: missing package"
in compiling for `bookdown` the following error is showing up for chunks on lines:

- 171-175
- 185-195
- 201-211
- 278-285
- 320-332

[code]
I've set the code chunk to `error = TRUE` in order to facilitate rendering the text, but these will need to be addressed.

[2019-07-18 00:03] jrosen48 commented on #62
will take a peak at this

[2019-07-22 20:50] a-rosenberg opened #65 "Merge notation accidentally committed!"
https://github.com/data-edu/data-science-in-education/blob/9b20406dc690b35b1bcdff507baca80fbe0c15be/09-walkthrough-4.Rmd#L339

[2019-07-22 20:51] a-rosenberg commented on #65
There's actually a few examples of this throughout the file

[2019-08-16 06:42] tintinthong opened #72 "Put Invite Link in Slack"
I clicked on slack link to go into a login page. How do I get invited to the channel?

[2019-08-18 23:44] jrosen48 commented on #65
Thanks, will search for these.

[2019-08-18 23:47] jrosen48 opened #73 "simulate data based on online science classes data"
The online science classes data set (used in [walkthrough 1](https://github.com/data-edu/data-science-in-education/blob/master/06-walkthrough-1.Rmd) and [walkthrough 3](https://github.com/data-edu/data-science-in-education/blob/master/08-walkthrough-3.Rmd) is anonymous but is actual data I collected with a colleague (a post-doc) at MSU.

I think it would be preferable to simulate data based upon t

[2019-08-18 23:50] jrosen48 opened #74 "chapter on Bayesian methods?"
From my friend [@markubsch](https://twitter.com/markubsch) via Twitter:

[2019-08-18 23:55] ivelasq commented on #74
How much leeway do we have to add chapters now?

[2019-08-19 01:01] #65 closed

[2019-08-20 00:15] jrosen48 commented on #74
Yeah, I think that's the right question. I'm not sure; my sense is that we have *some* leeway, especially if we have a strong rationale. Thinking this is a cool idea but that it may be slightly advanced. Thoughts?

[2019-08-26 01:30] ivelasq opened #78 "style guide for plots?"
Hi all! I've started making plots on a chapter. Would we be interested in having a style guide for ggplots? Happy to lead on creating one!

[2019-08-27 18:34] jrosen48 opened #79 "addition of work works with data content"
From Slack:

[2019-09-03 01:19] jrosen48 commented on #73
this package, simPop, may be helpful: https://cran.r-project.org/web/packages/simPop/index.html

[2019-09-04 03:27] restrellado commented on #72
Hello! I just added a link to join the Slack workspace in the readme. Thanks for your interest!

[2019-09-04 03:27] #72 closed

[2019-09-21 15:06] jrosen48 opened #96 "synthesize data set for random forest chapter"
- Review the file for chapter 8 (`08-walkthrough-3.Rmd`) to see which variables are included - in any way at all - in the analysis
- Record what those variables are
- Subset the online science motivation dataset, used in that walkthrough and stored in `data/online-science-motivation/processed/online-science-motivation.csv`, to include only those variables used in the analysis
- Use `synthpop::syn(

[2019-09-22 20:50] ivelasq commented on #78
I created a palette and theme and saved them in the r folder.
Let me know what you think and whether we should change it up!

[2019-09-23 01:03] jkaupp commented on #78
I like the palette!  Checks out well on Viz Palette, with some minor conflicts with thin lines in red-green colorblindness.  I feel that including a complementary colour for singular highlights (and perhaps a muted grey) would be a good addition.

Theme font is difficult to select until those choices have been narrowed down for your print run.  I'm not a fan of Arial as a header.  Works well for a

[2019-11-10 15:20] restrellado commented on #36
We touched on this in the Solutions chapter. Closing for now, but can revisit if needed

[2019-11-10 15:20] #36 closed

[2019-11-10 15:22] restrellado commented on #78
Palette is [here](https://github.com/data-edu/data-science-in-education/blob/master/r/palette_dataedu.R). Thank you @ivelasq !

[2019-11-10 15:22] #78 closed

[2019-11-10 15:31] restrellado commented on #58
[Walkthrough 5](https://github.com/data-edu/data-science-in-education/blob/master/10-walkthrough-5.Rmd)

[2019-11-10 15:31] #58 closed

[2019-11-10 15:33] restrellado commented on #74
Hey y'all just checking in on this. We'll leave it up awhile longer in case anyone has strong feelings about it. If not, we can close this thread and revisit if needed

[2019-11-10 15:34] restrellado commented on #79
Oh this is really good–sorry I missed it! I'll work on this one

[2019-11-15 09:08] cjvanlissa commented on #74
I could write a chapter on Bayesian informative hypothesis testing using fractional approximate Bayes factors (the `bain` package)?

[2019-11-28 04:38] restrellado commented on #62
Hey y'all it says walkthrough 8 but I'm assuming it's chapter 8. That would be Walkthrough 3: Random forest on survey data. Let me know if I got that wrong!

[2019-11-28 04:41] restrellado commented on #74
Hi @cjvanlissa ! Thank you so much for offering. Right now there aren't plans for a chapter on this, but we'll let you know if anything changes. Thanks again for reaching out!

[2019-11-28 04:41] #74 closed

[2019-11-28 04:50] restrellado opened #118 "Review chapters and make sure all start with a first level header"

[2019-11-28 05:00] restrellado opened #119 "Review walkthroughs and list all datasets needed for the package"

[2019-11-28 05:03] restrellado opened #120 "Draft API section in text analysis chapter"

[2019-11-28 15:11] restrellado commented on #61
I think this was meant for walkthrough 1, not 6. Fixed the title and milestone. But I'll have a look too

[2019-11-28 15:47] restrellado commented on #61
See PR #121

[2019-11-28 19:00] restrellado opened #122 "Read aloud and edit"

[2019-11-28 19:03] restrellado opened #123 "Read aloud and edit"

[2019-11-28 19:07] restrellado opened #124 "Read aloud and edit"

[2019-11-28 19:09] restrellado opened #125 "How to use: Read aloud and edit"

[2019-11-28 19:11] restrellado opened #126 "Read aloud and edit"

[2019-11-29 15:39] restrellado commented on #56
All the code runs if we use the code from PR #61

Once we merge that one we can clear this issue also.

[2019-11-29 16:18] restrellado commented on #79
I'm going to try writing about this by pointing at themes in the walkthroughs:

 - Student perception of learning: multi-level models on survey data, text analysis of tidytuesday tweets
 - Student performance: gradebook analysis and random forest on final course grades .
 - Getting value from public data: working with aggregate data, longitudinal analysis on special ed data

[2019-11-29 19:11] #124 closed

[2019-11-29 19:11] #79 closed

[2019-11-29 22:19] restrellado commented on #118
Fixed by @ivelasq in PR #127

[2019-11-29 22:19] #118 closed

[2019-11-30 02:30] restrellado opened #129 "Add tidytuesday dataset to dataedu package"

[2019-11-30 03:32] restrellado opened #130 "Include instructions for installing devtools and dataedu packages to the foundational skills chapter"
We need some instructions for using `devtools::install_github("data-edu/dataedu")`

[2019-11-30 03:42] restrellado commented on #129
Addressed in PR #117

[2019-11-30 03:42] #129 closed

[2019-11-30 19:29] restrellado opened #131 "Can't source theme_dataedu.R and palette_dataedu.R in 10a-walkthrough-6.Rmd"
The RMarkdown file gets stuck when executing this

`source("r/theme_dataedu.R")`
`source("r/palette_dataedu.R")`

I see this in the console and I type `y`
`Importing fonts may take a few minutes, depending on the number of fonts and the speed of the system. Continue? [y/n] y`

Then it returns this:

`input string 4 is invalid in this localeinput string 4 is invalid in this localeinput string 4 is

[2019-11-30 19:30] restrellado commented on #131
PS I'll set eval=FALSE on that code chunk for now until we fix it

[2019-11-30 22:16] #122 closed

[2019-12-01 06:48] ivelasq commented on #41
Hi Josh, just fyi - when I run line 25 in Walkthrough 4, I get the error `no applicable method for 'select_' applied to an object of class "function"`

[2019-12-01 06:53] ivelasq commented on #131
Hi! I see the warning message too (for theme_dataedu, no issues with palette_dataedu). However, the function still loads. Does it load for you too?

[2019-12-01 07:39] ivelasq commented on #62
The error I get is: `Error in `[.data.frame`(data, , "pred") : undefined columns selected` (when running `defaultSummary(as.data.frame(d_train)` on line 198)

[2019-12-01 20:51] restrellado commented on #131
No, the code chunk that sources the R file just gets stuck trying to run. For reference, it's code chunk 1: load custom themes in 10a-walkthrough-6.Rmd

[2019-12-01 21:49] restrellado opened #133 "Review chapters and catalogue explanations of techniques, functions, and packages"
Use @jmostipak 's spreadsheet to catalogue. Then we can coordinate initial explanations and future references.

[2019-12-02 00:09] droza0 opened #136 "Typo in 06-walkthrough-1.Rmd"
This book is awesome. Found a typo in walkthrough 1: in the code chunk on lines 205-213:

[code]

`CourseSectionOrigId` should be `CourseSectionOrigID`, otherwise it's not found.

[2019-12-03 06:52] #125 closed

[2019-12-04 03:05] emilybovee commented on #62
I will work on this

[2019-12-04 04:23] restrellado opened #141 "Rename chapter filenames so they align with chapter numbers"

[2019-12-08 03:13] #141 closed

[2019-12-08 03:16] restrellado opened #154 "Rename random forest chapter"
Need to do this after #114 gets merged

[2019-12-08 05:27] restrellado commented on #136
Thank you so much for this! We were trying to figure out why that wasn't working

[2019-12-08 05:31] restrellado opened #158 "_07-wt-multilevel-models-2.Rmd: Can't find the dataset to read in"
I think the path needs to be corrected to the dataset on this one. Once all the code runs we can change the file name and get it rendered in bookdown

[2019-12-08 05:33] restrellado opened #159 "Need to fix the library call to tabulizer"

[2019-12-08 05:37] restrellado commented on #41
@jrosen48 I think SNA is working now so I'm going to close this. Feel free to reopen if I got that wrong. Thanks y'all!

[2019-12-08 05:37] #41 closed

[2019-12-08 05:41] restrellado commented on #56
Code works!

[2019-12-08 05:41] #56 closed

[2019-12-08 05:46] restrellado commented on #61
All the code works in this one now

[2019-12-08 05:46] #61 closed

[2019-12-08 05:50] restrellado commented on #73
@jrosen48 Is this one we're still working on or should we close it?

[2019-12-08 16:52] jrosen48 commented on #158
I believe this is fixed - pushed the latest dataset directly to master. Filename still needs to be changed.

[2019-12-08 17:17] jrosen48 opened #161 "Connect datascienceineducation.com with our Netlify-hosted gitbook?"
At some point, we need to connect datascienceineducation.com with our Netlify-hosted gitbook. I think this would involve changing the nameservers to point to netlify - and then changing some Netlify setting to use our custom URL.

Seperately, would it make any sense to also purchase dsieur.com?

[2019-12-08 17:57] jrosen48 opened #162 "edit conclusion chapter?"
Should we add a conclusion chapter?

[2019-12-08 17:59] jrosen48 opened #163 "Finalize acknowledgements"
Thinking about something for closer to submission - adding an acknowledgments section! Here is part of what can go in there (it's from [this post](https://joshuamrosenberg.com/posts/introducing-data-science-in-education-using-r-forthcoming-2020/):

I'm sure we'll all want to add to this.

[2019-12-08 18:00] jrosen48 commented on #163
I'm sure we'll all want to add to this at some point.

[2019-12-08 18:01] jrosen48 opened #164 "Add preface in which we tell our individual and collective origin stories?"
Wondering if we can add a preface in which we can tell our individual and collective origin stories - how we came to data sci/R and how this all took form.

[2019-12-08 19:29] ivelasq commented on #163
Yeah maybe all the people who did interviews too?

[2019-12-08 22:34] restrellado opened #165 "Export plots per publisher specs"

[2019-12-08 22:36] jrosen48 commented on #165
Wondering if there is a way to automatically do this... And place at the end of the text. If not documented in bookdown book, maybe something to reach out to folks about?

[2019-12-09 01:05] jrosen48 opened #167 "mention the challenges (and benefits) of working with states/districts/schools/teachers in the challenges section?"
Wondering if we should mention the challenges (and benefits) of working with state departments of education, districts, schools, and teachers in [the challenges chapter](https://github.com/data-edu/data-science-in-education/blob/master/04-unique-challenges.Rmd). I have limited experience, but wonder about mentioning, for example, the importance of gaining trust from principals and teachers before

[2019-12-13 05:08] restrellado commented on #123
Addressed in #168

[2019-12-13 05:08] #123 closed

[2019-12-17 02:33] restrellado opened #174 "Write acknowledgements and interviewee bios"

[2019-12-17 04:36] restrellado commented on #73
Closing this one for now, but feel free to reopen it if it's still something we need to take care of

[2019-12-17 04:39] restrellado commented on #158
Everything rendered in bookdown so should be good here

[2019-12-17 04:39] #158 closed

[2019-12-17 04:40] restrellado opened #176 "Add random forest dataset to dataedu package"

[2019-12-17 12:21] jrosen48 commented on #73
Still need to do this to be able to share this publicly (so should have been done earlier). Sorry I didn't think of this one. Will try to do.

[2019-12-22 00:26] #133 closed

[2019-12-23 01:09] restrellado commented on #131
Update on this. It looks like there's a prompt to download some fonts when you source `theme_dataedu.R`. Once I responded `y` to that it seems to run. Two more things to tackle on this: First,  I don't think the `dataedu` palettes are working on this. My graphs are still using the default `ggplot` colors. Second, I don't know if this is going to cause any problems with the bookdown render. I'll ke

[2019-12-23 04:44] restrellado opened #182 "Format headings according to T&F spec"
From T&F:

Headings

We prefer the use of Word styles to indicate different levels of headings.

If you cannot use Word styles, please ensure that you present headings consistently with different levels of headings clearly differentiated. For example, use bold for level 1 subheadings,
italics for level 2 subheadings, and roman for level 3 subheadings, i.e.:

# Subheading level 1
*Subheading level

[2019-12-23 04:49] restrellado opened #183 "Organize bibliography"
@jrosen48 Fyi there's a spec for the bibliography in the T&F author guidelines. Wasn't sure if you've seen that yet?

[2019-12-23 16:01] restrellado commented on #131
Fixed in #181

[2019-12-23 16:01] #131 closed

[2019-12-23 16:03] ivelasq commented on #182
Thanks Ryan! Maybe we can do this with CSS...? Will look into it.

[2019-12-23 17:07] jrosen48 commented on #182
*possibly* relevant - using a `.docx` template: https://rmarkdown.rstudio.com/articles_docx.html

[2019-12-24 13:24] jrosen48 commented on #162
I added this in #166, but it could still use a good review. I'm wondering if we can (in particular) highlight some future directions (and maybe challenges) for the field here? not sure. We can also perhaps summarize some of the main points from the book?

[2019-12-24 14:05] jrosen48 commented on #183
checking

[2019-12-24 14:13] jrosen48 commented on #183
Here are the guidelines w/ some notes

Avoid providing a single reference list/bibliography at the back of the book unless appropriate
to your discipline. This will give readers the additional option of accessing your book by chapter.

I'm inclined to end of the book (and I think this is more common); I think references by chapter would be more common for an edited book. Though [it is possible to

[2019-12-24 14:54] ivelasq commented on #159
#185 renders Working with Agg Data now - I made it so the chunks calling {tabulizer} don't evaluate and we pull in the data mid-way through the walkthrough. Take a look...

[2019-12-24 14:55] ivelasq commented on #161
The URL is up! https://www.datascienceineducation.com/

[2019-12-24 15:02] jrosen48 commented on #183
Editorial Assistant will advise which style you should follow.

Confirm APA?

[2019-12-24 15:03] jrosen48 commented on #161
sweet to the beat!

[2019-12-24 15:03] #161 closed

[2019-12-25 02:47] restrellado opened #189 "Update headings for multi level models 1"

[2019-12-25 02:47] restrellado opened #190 "Update headings for multi level models 2"

[2019-12-25 02:48] restrellado opened #191 "Update headings for gradebooks walkthrough"

[2019-12-25 02:49] restrellado opened #192 "Update headings for social network walkthrough"

[2019-12-25 02:50] restrellado opened #193 "Update headings for aggregate data walkthrough"

[2019-12-25 02:52] restrellado opened #194 "Update headings for random forest walkthrough"

[2019-12-25 19:01] jrosen48 opened #195 "request for help annotating c17-additional-resources"
This came from #186 - I added brief (less than one sentence) annotations to the references in [c17-additional-resources](https://github.com/data-edu/data-science-in-education/blob/master/17-additional-resources.Rmd) - but, wasn't familiar with some of the cites, and so am requesting help (and need to skim a few myself to be able to summarize).

[2019-12-25 19:02] jrosen48 opened #196 "make sure citations are rendering correctly"
from Slack:

[2019-12-25 21:32] jrosen48 opened #197 "Check that cross-refs to other chapters worked"

[2019-12-26 22:14] restrellado commented on #174
This is a duplicate issue. Reference #163

[2019-12-26 22:14] #174 closed

[2019-12-27 03:39] restrellado commented on #120
Addressed in PR #198

[2019-12-27 03:39] #120 closed

[2019-12-27 03:48] restrellado commented on #119
Waiting on author input about more datasets that needed to be loaded into `dataedu`

[2019-12-29 01:27] emilybovee commented on #176
Added dataset to package under name sci_mo_data

[2019-12-29 01:27] #176 closed

[2019-12-29 03:40] restrellado opened #206 "Need role descriptions"
cc: @ivelasq and @emilybovee

[2019-12-29 15:37] emilybovee commented on #206
I updated my role description, ready for you @ivelasq !

[2019-12-29 15:38] emilybovee commented on #96
@jrosen48  I'm working on finalizing this chapter today/maybe into tomorrow. Are we ok keeping the dataset as-is or is there a problem?

[2019-12-29 15:42] emilybovee commented on #164
Interested, good idea Josh - maybe it's a final-stretch task once the rest of the content is finalized?

[2019-12-29 15:48] emilybovee opened #208 "Make sure that the description of dataedu package comes with the first mention of the package"
This will depend on final positioning of walkthroughs. Current description of package from Text Analysis ch...

Just a reminder, if you haven't already installed the `dataedu` package, you can do so by typing this code:

[code]

[2019-12-29 15:52] emilybovee commented on #130
Hey @restrellado this is the current text about the dataedu package from the text analysis walkthrough. I just opened a similar issue to this to make sure we've explained our package before we start using it.. but I can close that issue if you're planning on putting it in foundational skills (which I think is a good idea).

FROM TEXT ANALYSIS CH, CURRENT FIRST USE OF THE PKG
Just a reminder, if yo

[2019-12-29 17:55] jrosen48 commented on #96
acknowledging I saw this (and am thinking on this!!!)

[2019-12-29 21:50] jrosen48 commented on #96
the data you added to the package worked brilliantly for me.

I am working on this, as I think that it is preferable for the online science motivation dataset data to be "synthesized" versions of the data - versions that maintain the relationships in the original data, but are simulated (for privacy-related reasons, even though the data will be anonymous).

[2019-12-30 02:45] restrellado commented on #206
Thanks @emilybovee ! Will you be doing an update in a PR?

[2019-12-30 02:48] #136 closed

[2019-12-30 02:50] restrellado commented on #208
Thanks for this @emilybovee ! The instructions should be going in the foundational skills chapter. I'll close this one since its referenced in #130

[2019-12-30 02:50] #208 closed

[2019-12-30 03:57] restrellado opened #210 "Revise longitudinal data walkthrough to include importing data from package"

[2019-12-30 15:41] emilybovee commented on #206
I did, but merged it right away yesterday morning. Should be in master now!

[2019-12-30 16:27] emilybovee commented on #96
Sounds good, @jrosen48 , thanks! cross-referencing this with the issue in the `dataedu` package, am I understanding correctly that the sci_mo_data dataset will now read your new, synthesized data? so - I don't need to change the data reading code in the ML walkthrough ?

[2019-12-30 16:38] ivelasq commented on #206
Done!

[2019-12-31 04:43] restrellado commented on #206
Awesome thanks all!

[2019-12-31 04:43] #206 closed

[2019-12-31 05:16] restrellado commented on #210
Addressed in #213

[2019-12-31 05:16] #210 closed

[2019-12-31 05:23] #159 closed

[2019-12-31 12:22] jrosen48 commented on #196
Related to this - I believe that we need to cite the R packages we have references for (perhaps the first time we use them) for them to be included in the references.

[2019-12-31 12:24] jrosen48 commented on #197
these didn't work (see [the first chapter here](https://www.datascienceineducation.com/)).

Perhaps this will be easier with #215.

From looking at chapters in the book, it looks like the numbers are not included, so perhaps if I removed the numbers then this would work?

[2019-12-31 12:25] jrosen48 commented on #197
oh, so it made be based on the level-1 header, rather than the file name! (doh)

[2019-12-31 14:42] jrosen48 opened #217 "some tips on using bibtex"
someone shared this by email:

[2019-12-31 14:44] jrosen48 commented on #217
relevant to #196

[2019-12-31 14:44] jrosen48 commented on #217
can plan to close this in a few days

[2020-01-01 14:55] jrosen48 commented on #96
confirming we discussed this in Slack @emilybovee - this should be good to go

[2020-01-01 14:56] #96 closed

[2020-01-01 14:57] jrosen48 commented on #62
I think that all of the code in the RF chapter is now running (and that we can close this issue!)

[2020-01-01 14:57] #62 closed

[2020-01-02 20:32] jrosen48 commented on #197
this was hopefully, partially addressed in #227 - will need to keep this open to check and then update the other cross-references

[2020-01-02 20:32] jrosen48 commented on #196
this was, in part, addressed in #227 - keeping open to check and to continue to revise these

[2020-01-03 12:40] jrosen48 commented on #183
I think these are mostly on the right track, but leaving this open. Going to close #196, as that only contained this related issue:

[2020-01-03 12:40] #196 closed

[2020-01-03 12:41] jrosen48 commented on #73
this is, gloriously, done!

[2020-01-03 12:41] #73 closed

[2020-01-04 14:12] #217 closed

[2020-01-04 14:14] jrosen48 commented on #154
I think this is addressed!

[2020-01-04 14:14] #154 closed

[2020-01-04 14:15] jrosen48 commented on #154
Sorry, should have mentioned that I think *you* addressed this @restrellado in #223

[2020-01-04 14:23] jrosen48 commented on #119
I see the following being available in dataedu:

[code]

Some to possibly add:

- caret
- ggraph
- randomNames
- tidylog

[2020-01-04 18:22] ivelasq commented on #119
added caret and tidylog to the package! ggraph and randomNames were already on there :)

[2020-01-04 18:37] jrosen48 commented on #189
Walkthrough Headers (from our Walkthrough Organization G-Doc, with attribution to https://emilyriederer.netlify.com/post/rmarkdown-driven-development/

[code]

[2020-01-04 18:37] jrosen48 commented on #189
is applicable to #190, #191, #192, #193, and #194 as well

[2020-01-04 23:29] jrosen48 opened #232 "address issue with data raised in code review"
raised in #231

@restrellado:

Response:

[2020-01-04 23:29] jrosen48 commented on #232
this is for chapter 7

[2020-01-05 19:22] restrellado opened #234 "Need an introduction to ggplot"
The first reference to ggplot is right around line 473 of the multi-models chapter

[2020-01-05 21:37] jrosen48 commented on #189
this is addressed in #233

[2020-01-05 21:37] #189 closed

[2020-01-06 00:02] kierisi commented on #234
there's a brief intro in the gradebook - chapter 8 - that could be built out. I could also see reworking this chapter a bit to focus more on wrangling//tidying data and ggplot.

[2020-01-06 00:36] #130 closed

[2020-01-06 00:37] kierisi opened #237 "add foundational skills data to package"

[2020-01-06 00:37] kierisi opened #238 "look into RStudio Cloud instance for book"

[2020-01-06 00:41] kierisi opened #239 "add images to foundational skills chapter"

[2020-01-06 04:49] #193 closed

[2020-01-06 13:32] jrosen48 commented on #182
in case we go down the reference doc route, here's what I've done in the context of my CV:

- Included in [my `.Rmd` document](https://github.com/jrosen48/utk-homepage/blob/master/about-source.Rmd this output YAML:

[code]

- Created [my Word document template](https://github.com/jrosen48/utk-homepage/blob/master/static/cv/Rosenberg-CV-template.docx), by setting the Word styles in the way describe

[2020-01-07 02:01] kierisi opened #243 "reduce redundancies between Ch 5 and Ch 6"

[2020-01-11 17:55] jrosen48 opened #250 "update the README"
super minor, but need to update the table of contents in the README. Perhaps we can just put the level-1 headings (so it's easier to keep up to date)?

[2020-01-11 19:44] ivelasq commented on #250
I can do this on my next pull!

[2020-01-11 19:55] jrosen48 commented on #250
ah ty much

[2020-01-13 06:03] ivelasq commented on #250
#252 - please check it out!

[2020-01-18 00:46] duttashi commented on #195
@jrosen48 , @restrellado I would like to take this issue up. However, the embedded url pointing `c17-additional-resources` is broken. It gives me a "Page not found error".

[2020-01-18 02:18] jrosen48 commented on #195
@duttashi thanks so much! We reordered the chapters and it is now chapter 18 [here](https://github.com/data-edu/data-science-in-education/blob/master/18-additional-resources.Rmd)

[2020-01-19 04:20] #250 closed

[2020-01-19 04:23] restrellado commented on #119
Just checking in on this–any other datasets that need to be pulled into the package? I'll wait a bit more and if there's nothing else I'll close it

[2020-01-19 04:30] restrellado commented on #59
Looks like the first draft is done! Closing, but @kierisi feel free to reopen if I closed too soon

[2020-01-19 04:30] #59 closed

[2020-01-19 07:15] ivelasq commented on #119
I don't think all of the datasets are in the package yet. I can verify and share.

[2020-02-03 05:36] restrellado commented on #234
Addressing this in #262

[2020-02-03 13:40] #190 closed

[2020-02-03 13:42] jrosen48 commented on #191
This was addressed in #246

[2020-02-03 13:42] #191 closed

[2020-02-03 13:43] jrosen48 commented on #190
this was addressed in #248

[2020-02-03 14:54] restrellado opened #263 "`count()` doesn't work when knitting R Markdown file"
This code is right around line 97:

[code]

The code chunk works in the console, but doesn't work when knitting the R Markdown file. I saw this note from @jrosen48

[code]

but haven't been able to reproduce the error because I get this when I knit to html:

[code]

Note that the chunk has been set to `eval = FALSE` and should be set to `eval = TRUE` when testing changes.

[2020-02-05 14:49] restrellado opened #264 "Controlling for `course_id` drops `course_id` levels in the model output"
This happens at line 142 of `13-wt-multilevel-models.Rmd`. The output from this model should include 25 `course_id` levels and one dummy variable:

[code]

but I only see 20 `course_id` levels and one dummy variable. We can verify that there are actually 26 `course_id` levels like this:

[code]

and if we fit a model for course IDs on time spent in the course, we get the expected number of course

[2020-02-06 00:44] jrosen48 commented on #197
this is good for now

[2020-02-06 00:44] #197 closed

[2020-02-06 00:46] jrosen48 commented on #264
The second `lm()` call i supposed to be the following, correct?

[code]

[2020-02-06 03:35] ivelasq opened #265 "Walkthrough one (7.5): mentions read_csv but reads from dataedu"
Chapter 7.5 states:

However, calls data from {dataedu} package.

[2020-02-06 03:40] ivelasq opened #266 "Walkthrough 2 (8.4) - mentions a directory but uses here"
Chapter 8.4 states:

But actually uses `here::here()` for loading files.

[2020-02-06 05:39] ivelasq commented on #183
Not sure if this belongs under this issue, but there are chapters where the references are not in the book.bib file (example: Chapter 10 under Tidy the dataset).

[2020-02-07 05:36] ivelasq opened #267 "Chapter 15 references `gather()`"
We should change to `pivot_longer()`.

[2020-02-08 20:13] jrosen48 commented on #189
I had vocabulary in here cc/ @ivelasq @kierisi. Sorry all, was supposed to have at least started this. I will do for #192 and #194 at least.

[2020-02-09 21:05] restrellado opened #272 "Use curly braces instead of backticks for package references"
@ivelasq is already working on this, just adding for tracking purposes

[2020-02-09 21:07] restrellado opened #273 "Include parentheses in references to functions"
Change references to functions so they include parentheses. Example: Any function that looks like this `filter` should be changed to this `filter()`

[2020-02-14 01:59] kierisi opened #280 "inconclusive self-rating system in chapter 2"
in chapter 2 we ask readers to rate themselves on a scale from 1 to 5 on:

- Using R
- Education as a field
- Statistics

but then only provide guidance based on what they rate themselves in using R. would it be helpful to address both education as a field as well as statistics?

[2020-02-14 13:41] jrosen48 commented on #280
Yes, concur - I really like the idea of pointing to resources to help folks feel more comfortable with one of these domains.

[2020-02-14 15:33] restrellado commented on #280
Yep makes sense to do this. Thanks Jesse!

[2020-02-16 15:35] restrellado opened #284 "Remove the namespace from functions"
Remove the namespace from functions, except for where the namespace is needed to illustrate a point or avoid conflicts.

Example: In most cases, `dplyr::select()` should be `select()`.

[2020-02-17 00:01] jrosen48 commented on #194
Done in #278

[2020-02-17 00:01] #194 closed

[2020-02-17 00:02] jrosen48 commented on #192
Done in #270

[2020-02-17 00:02] #192 closed

[2020-02-17 00:03] #234 closed

[2020-02-17 00:03] jrosen48 commented on #234
Thanks @restrellado for addressing this

[2020-02-17 00:11] restrellado commented on #264
Yes that's correct–sorry for the typo!

[2020-02-17 00:12] jrosen48 commented on #264
De na - and, just to confirm - sorry - these are still dropped with that call?

[2020-02-17 00:12] jrosen48 commented on #264
k, sorry, checking

[2020-02-17 00:16] restrellado commented on #264
We figured it out in Slack but I'll put here also, just for the record. The `course_id` variable needs to be changed in the dataset before we can confirm the levels still get dropped using `lm(percentage_earned ~ course_id, data = dat) %>% summary()`

[2020-02-17 00:40] restrellado commented on #264
Everything works now! The correct variables are in the current version of {dataedu} so I just needed to update it for the correct number of levels in `course_id` to appear in the model output.

So friendly reminder to readers to make sure and update {dataedu} regularly by using `devtools::install_github("data-edu/dataedu")`

[2020-02-17 00:40] #264 closed

[2020-02-17 01:37] jrosen48 commented on #232
This is addressed in: https://github.com/data-edu/dataedu/pull/50

[2020-02-17 01:37] #232 closed

[2020-02-17 14:59] restrellado commented on #195
@jrosen48 Just checking in. Did you get what you needed on this? Anything I can do to help?

[2020-02-17 16:06] #267 closed

[2020-02-17 16:15] restrellado commented on #167
Sounds like discussion on this has slowed down so I'm going to close it for now. But feel free to reopen when needed.

[2020-02-17 16:15] #167 closed

[2020-02-17 18:58] jrosen48 commented on #195
Thanks - (we) still need to elaborate on some of the resources (i.e., to describe Peng's book - there's a placeholder for the description). Woudl appreciate help but I can also work to chip away at this.

[2020-02-17 21:14] #266 closed

[2020-02-20 04:41] restrellado opened #289 "Set warnings to TRUE and run code"
For each walkthrough, set warnings to TRUE in the global chunk options to check for any problems. This issue is for all walkthroughs, so contributors can just chime in after doing this for each chapter.

[2020-02-20 04:45] restrellado commented on #119
Just leaving a friendly reminder to chime in with any datasets that need to be added to the package and if you need any support getting them in @jmostipak @jrosen48 @ivelasq @emilybovee

[2020-02-21 06:22] ivelasq commented on #162
There's a bit of overlap between the Learning More chapter and the Conclusion. I think we can move some of the Take on Challenges/turning to something else to the Learning More chapter. Maybe the Conclusion chapter can focus more on addressing things we brought up in the Intro?

Also, @joshuarosenberg can you check the references in the latest render at the bottom of the Conclusion chapter please?

[2020-02-22 14:52] restrellado opened #293 "Review all visualizations and theme with DSIEUR theme"

[2020-02-24 06:13] ivelasq commented on #284
Went through, think I caught them all, but if I'm missing any just let me know.

[2020-02-24 06:14] ivelasq commented on #273
Went through, think I caught them all, but if I'm missing any just let me know.

[2020-02-24 06:14] ivelasq commented on #272
Went through, think I caught them all, but if I'm missing any just let me know.

[2020-02-27 00:43] jrosen48 opened #302 "multi-level model error"
I am flummoxed by a multi-level model error.

When running the analysis with all of the data, an error is returned (`m1`).

With different subsets, the model runs fine (`m2` and `m3`).

With the values between the two subsets that work removed, an error is returned again (`m4`).

I looked at the data - and the subset of the data associated with the problem - and don't see anything atypical.

[code

[2020-02-27 00:45] jrosen48 commented on #302
A few other things I tried:

- calculating the mean per group (nothing stood out, apart from one group with only one case, and two groups with two cases; removing those didn't solve the problem)
- plotting the distribution of the DV values per group

[2020-02-27 01:31] datalorax commented on #302
Hi Josh,

I think the issue here is that you're trying to model a proportion as the dependent variable in a linear model. See [here](https://stats.stackexchange.com/questions/103731/what-are-the-issues-with-using-percentage-outcome-in-linear-regression) for why that is problematic, and [here](https://stats.stackexchange.com/questions/87956/how-to-apply-binomial-glmm-glmer-to-percentages-rather-tha

[2020-02-27 01:43] datalorax commented on #302
Alright, sorry, I didn't look at this close enough. I think the second link I have above is directly applicable here. So your m1 would become

[code]

And that estimates without issue. Should work similarly for the others (although I'm not sure I understand why you're taking out rows?).

[2020-02-27 02:40] jrosen48 commented on #302
thank you so, so much @datalorax for both helping me to see why this is an issue and a way forward. keeping this open as I want to integrate this into the book. thanks again

[2020-02-27 02:41] datalorax commented on #302
No problem! Glad it was helpful.

[2020-02-27 02:43] jrosen48 commented on #302
cc/ #163

[2020-02-28 16:27] ivelasq commented on #293
Can you remind me what we're looking for? I think we should wait until the font for the graphics is decided, then I can remove {extrafont} and just have the font we want.

[2020-02-28 21:04] jrosen48 opened #304 "Add instructions for responding to prompts after running code"
If you have not run this before:

[code]

When rendering the book, it seems like you can't select `1` to allow the download to proceed programmatically. Is there any way to do this programmatically? Or, otherwise, tell folks they have to do this before rendering?

[2020-02-29 15:58] restrellado commented on #304
Yep it's in there. I chose to explain it rather than make it automatic, but I'm open to changing that if needed:

[2020-02-29 16:01] restrellado commented on #293
No problem I'm good with that! The idea for this issue was to go through all the chapters looking for code chunks that make plots, then double checking to make sure the plots used the DSIEUR theme. If that's done already, I'm good with closing this

[2020-02-29 17:08] ivelasq commented on #293
Ahh okay! Good call :) I haven't gone through to make sure the theme is on everything - let's leave this open for now.

[2020-03-01 00:45] jrosen48 commented on #304
Thank you for pointing me to that. Sounds good, I think/agree this is good. Perhaps we can include this and any other steps that would need to be taken to render the book (in addition to using the function to mass install packages)? Not sure if there are any others...

[2020-03-01 00:48] jrosen48 opened #310 "Move Who we Are and What We Do to prologue?"
Right now, there is a (great) section of c3, *Who we Are and What We Do*.

Should we move this to a prologue chapter?

https://github.com/data-edu/data-science-in-education/blob/f02d09f353ca8df58ce781d45eb45fb9b518a4db/03-data-scientist-in-edu.Rmd#L61

Minor, @kierisi, I imagine you may want to update your role - is this the case? Just mentioning this here after reading through it

[2020-03-01 00:50] jrosen48 opened #311 "Move Next Steps for Data Science in Education to c17 (Learning More)?"
Should we move the section in c3 *Move Next Steps for Data Science in Education* to [c17 (Learning More)](https://github.com/data-edu/data-science-in-education/blob/master/17-learning-more.Rmd)?

https://github.com/data-edu/data-science-in-education/blob/f02d09f353ca8df58ce781d45eb45fb9b518a4db/03-data-scientist-in-edu.Rmd#L93

[2020-03-01 00:58] jrosen48 opened #312 "Adding over-arching sections to the book?"
Wondering what everyong thinks of sections (not sure how we'd do this technically)? Section 1: beginning through foundational skills. Section 2: foundational skills, possibly the first two or three walkthroughs. Section 3: more advanced/special-purpose topics. Section 4: learning more, working in an organization, conclusion. I imagine no more than 300-400 words to introduce each.

[2020-03-01 02:39] ivelasq commented on #312
We can do it on bookdown - not sure about the actual book, though.

[2020-03-01 02:39] ivelasq commented on #312
Well, the section heads on bookdown. Don't know about the section intros.

[2020-03-01 02:40] ivelasq commented on #312
We could introduce them in 1.2 Making the Path a Little Clearer?

[2020-03-01 02:48] ivelasq commented on #312
Regardless of what we do, we should make sure it's all consistent...

[2020-03-01 12:30] jrosen48 commented on #312
I like the idea of introducing them in 1.2. Then, perhaps we can give a brief (1 para or less) description in the first chapter for each section (maybe even just a sentence or two: "Here, in the first walkthrough, we show how to go about approaching a particular educational problem, like we do in all of the walkthroughs").

Agree about making sure it's consistent; thanks  for pointing that out.

[2020-03-01 12:37] jrosen48 opened #314 "Thoughts on separating foundational skills #2 into two chapters?"
Hi all, @kierisi and I have been discussing separating foundational skills #2 (titled [Foundational Skills](https://datascienceineducation.com/c06.html) into two chapters. We think this aligns with our broader goal of having two "tracks" for folks to get started:

- One (a new foundational skills #2: up and running) for sort of everything to get up and running
- One (foundational skills #3: tidyve

[2020-03-01 12:42] jrosen48 commented on #311
@restrellado may I tag you in on this?

[2020-03-01 12:42] jrosen48 commented on #310
@restrellado may I tag you in on this one, too?

[2020-03-01 13:03] jrosen48 commented on #314
Here's how sub-sections could possibly be separated into possible new chapters:

**Foundational Skills #1 - Started Out**

- Overview
- Downloading R and RStudio
- Getting to Know R through RStudio
- Customizing Your RStudio Environment
- Exploring R Quickly With `swirl` (presently in foundational skills 2)
- Downloading and Accessing the Datasets Used in This Book (I think this needs to be create

[2020-03-01 16:38] nkenner opened #317 "Kudos for 2.1.1"
Josh asked me to proof through the book, and I particularly like 2.1.1's description of R learning. 100% describes code learning and language learning. Nail on the head.

Should be included as a preface and reminder in _all_ language classes

[2020-03-01 17:09] jrosen48 commented on #317
h/t to, I believe, @restrellado on this

also, thanks so much for proofing this!

[2020-03-01 19:39] jrosen48 opened #319 "how will folks access and run the code for walkthroughs?"
minor, but how will folks access and run the code for walkthroughs; will we link to the `.Rmd` files, include the (extracted) code in {dataedu}, or something else?

Related, this is in foundational skills 2, and probably can be cut, but it may be good to keep this if we want to communicate to folks (maybe in chapter 2, how to use) how to run the walkthrough code:

[code]

[2020-03-01 19:39] jrosen48 commented on #319
tagging in @ivelasq

[2020-03-01 20:41] jrosen48 opened #321 "minor - align overviews (in foundational skills chapters) with introductions (in the walkthroughs)?"
Both foundational skills chapters have nice overviews, i.e., foundational skills 1:

[code]

Foundational skills 2:

[code]

At the same time, the walkthroughs have introductions (as a part of the walkthrough templates), i.e. the gradebooks walkthrough:

[code]

Should we try to align these a bit more - in name (overview/introduction) and perhaps what's included in them?

[2020-03-01 21:53] ivelasq commented on #319
I think the current plan is to have the .R script with the code from the walkthroughs available in the package, but no plans for the .Rmd to be in there... I'll send a message out!

[2020-03-02 05:09] ivelasq opened #322 "Add {dataedu} requirements"
Hi @kierisi and @joshuarosenberg - per @eringrand 's suggestion, we should add the {dataedu} requirements whenever it's introduced in the book. I was going to do it but know there's open pull requests on those chapters so didn't want to mess anything up. Could you please add it where you see fit? I will add in the package README.

R >= 3.6

[2020-03-03 03:57] restrellado commented on #317
Thank you so much for reviewing this!

[2020-03-03 03:59] restrellado commented on #311
Got it thank you Josh! I'll have a look

[2020-03-03 04:03] restrellado commented on #312
I'm open, but keep me posted on what we decide to do here. I'm working on the conclusion and trying to tie it back to what we talked about in the introduction

[2020-03-04 06:28] eringrand commented on #163
First, thank you for including me in your acknowledgments. Secondly, my last name doesn't end in an 'e'.   :)

[2020-03-05 01:20] emilybovee commented on #319
Yes I think that was the plan!

[2020-03-05 01:20] emilybovee commented on #310
I think moving this to the prologue sounds good; lmk if you guys want me to work on this

[2020-03-05 01:21] emilybovee commented on #238
What would this entail? I think it is a good idea!

[2020-03-05 01:22] emilybovee commented on #317
Yes @nkenner - thanks! We really appreciate it!

[2020-03-05 01:25] emilybovee commented on #312
I'm open to this as well, but I don't see the book as sorting itself clearly into sections. At least not sections I could name. Are we thinking of doing generic names like "Getting Started," "Learning More," stuff like that? I'm not sure I see the value in sections if there aren't clear delineations as to what goes in what section (but still open to this).

[2020-03-05 03:59] restrellado commented on #310
Go for it @emilybovee ! I’ve been working on the conclusion so I haven’t gotten to this yet.

[2020-03-08 03:07] jrosen48 opened #324 "Finalize conclusion chapter"

[2020-03-08 05:06] ivelasq commented on #314
another thought I had as I was reading through was breaking up Foundational Skills 2 into (1) chapter with overview of functions, packages, etc. and (2) the walkthroughs provided in FS2, like downloading dataedu and looking at the MA data.

not super relevant to this, but maybe we can move the dataedu reference in Foundational Skills 1 to the other Foundational Skills chapters?

[2020-03-08 05:06] ivelasq commented on #321
I like this idea! Agree with aligning intro/overview, I can work on that.

[2020-03-08 05:31] ivelasq opened #325 "chapter 12 introduces tidytuesday even though chapter 11 was about tidytuesday"
Not sure how to reconcile. Maybe switching the 'background' sections?

[2020-03-08 05:32] ivelasq commented on #325
tagging @restrellado and @joshuarosenberg

[2020-03-08 05:39] ivelasq opened #326 "Hyperlinks in bookdown: adding URL for book"
We have a lot of hyperlinks in the bookdown that don't have a URL that is visible. This is ok for the online version but book readers will have sentences like "to find this package click here." I think all hyperlinks need to include the URLs.

[2020-03-08 05:41] ivelasq opened #327 "incomplete sentences at end of chapter 12"
The last couple of paragraphs of Ch 12 have incomplete sentences. In addition, they reference links that won't be visible in the printed book.

[2020-03-08 05:56] ivelasq commented on #237
`ma_data_init` is in the package! If you need anything else to be added, let me know - otherwise I think we can close this!

[2020-03-08 06:02] ivelasq commented on #163
Hi @joshuarosenberg - Chapter 0 has been added for the acknowledgements for you. I think we need to add interviewees, new people who have contributed, etc.

[2020-03-08 06:07] ivelasq opened #329 "add conventions used in the book"
Similar to Hands On Programming Using R, I think we should list the conventions in the book early and in an easy-to-find section: https://rstudio-education.github.io/hopr/preface.html#conventions-used-in-this-book

I think it belongs at the beginning of Foundational Skills 2 but would love to know what others think.

[2020-03-08 06:20] ivelasq commented on #310
I like it in its current chapter because it's a sort of continuation of 'what data science in education' looks like - but understand if overruled!

[2020-03-08 06:21] ivelasq commented on #293
New code for theme! I already see it didn't fully work on some chapters (like walkthrough 3) though...

[2020-03-08 07:01] ivelasq commented on #293
I think I know how to fix this... + theme_dataedu() has to be the last thing on the plot (don't know why). Will fix.

[2020-03-08 13:16] jrosen48 commented on #329
Nice, I think that's a good spot, too. Tagging @jmostipak in on this for input. Could also go in Foundational Skills 1.

[2020-03-08 13:17] jrosen48 commented on #327
assigned myself on this

[2020-03-08 13:17] jrosen48 commented on #326
agree

[2020-03-08 13:18] jrosen48 commented on #326
if the link is really awful (like, many lines long), perhaps we can include as a footnote - but otherwise should put in parentheses - do you concur?

[2020-03-08 17:57] jrosen48 commented on #314
like this. @kierisi and I just started to discuss something similar to this. thinking we will keep this the same until after some last edits to these chapters, after which it may be easy to see how all the pieces can fit together.

[2020-03-08 18:23] ivelasq commented on #326
I think it's ok if there are hyperlinks that don't show up in the book but without a reference to them (like "click link here") - everything would be in the references, yes?

[2020-03-10 17:48] jrosen48 commented on #325
I will work on this

[2020-03-10 17:57] jrosen48 commented on #312
@emilybovee what if they were very general, i.e.:

*Section 1*: beginning of the book through the first foundational skill chapter. This would mostly be "conceptual" content
*Section 2*: foundational skills #1 and #2, and perhaps some of the first few walkthroughs (though, I see your point here, that these can be hard to divide into "beginning" and "advanced" content, and I'd be okay with this sec

[2020-03-10 18:23] jrosen48 opened #337 "Cite packages we use"
While we have a reference list with the packages we have used (`packages.bib`), I believe they need to be cited one or more times in order to appear in the reference list! Perhaps we can cite these in walkthrough 1 or 2 (or, if they don't first appear until later chapters, the chapter in which they first appear). I will work on adding those we can to walkthroughs 1 and 2.

[2020-03-11 00:26] ivelasq commented on #164
Preface has been added (@restrellado 's Chicken Story :)) but collective stories still in other chapter.

[2020-03-11 00:26] restrellado commented on #182
Headings are all consistent now

[2020-03-11 00:26] #182 closed

[2020-03-11 00:50] #164 closed

[2020-03-11 02:48] ivelasq opened #338 "Thoughts on moving end of Chapter 10 to beginning of Chapter 9?"
@restrellado reading through - the end of Ch 10/Walkthrough 4 does a great job introducing aggregate data. Since Ch 9 is intro to aggregate data, thoughts of putting it in there instead? Specifically thinking of the paragraph beginning in "Before we discuss the benefits of aggregate data..." and moving it before 9.1.1.1.

[2020-03-11 03:01] ivelasq opened #339 "Chapter 13 missing Methods section"
There's the header but no text... should I remove Methods? Or can we add a sentence or two here?

[2020-03-11 03:04] ivelasq commented on #339
I moved things around.. please check it out in the next rerender, feel free to change back.

[2020-03-11 03:18] ivelasq commented on #324
Thanks so much for the new conclusions chapter! My thoughts is that it is similar to Chapter 17, Learning More. https://datascienceineducation.com/c17.html

Maybe we can merge and just keep one? Or differentiate them more?

[2020-03-11 03:30] ivelasq opened #340 "Double check numbers in Walkthrough 14"
Seems like with the changes we've made, the narrative isn't matching up with the code results. I tried to catch what I could but don't have the context expertise - could you please review? @emilybovee @joshuarosenberg

[2020-03-11 03:32] ivelasq commented on #340
Also it looks like the model was tuned twice?
(see line 282 and 305 in the R Markdown)

[2020-03-11 03:33] ivelasq commented on #340
This might be lack of content expertise I referenced...

[2020-03-11 03:41] ivelasq commented on #340
^ ^ never mind re: last two comments

[2020-03-11 03:55] ivelasq commented on #340
Anyway, I do think the chapter could use your eyes - like I am not sure where the Rsquared of 0.97 mentioned at the end comes from. Thank you!!!

[2020-03-11 14:59] ramorel opened #345 "Missing citations in 16.2.5, 16.3.4, 17.4.2, 17.5.1"
These citations are rendered as *???* in Bookdown. I corrected 16.3.4, 17.4.2, 17.5.1 (I think--I made them reflect the keys in the book.bib). Not sure about 16.2.5. The key looks right and the other instances of that key are rendered. 🤷‍♂️

[2020-03-11 15:05] #284 closed

[2020-03-11 15:06] #273 closed

[2020-03-11 15:06] #272 closed

[2020-03-11 15:37] restrellado commented on #302
Addressed in #303

[2020-03-11 15:37] #302 closed

[2020-03-11 15:44] restrellado commented on #304
More info. Add similar language to
 - {ggplot} code that requires prompts to use the dataedu theme
 - The initial use of the dataedu packages mass install

[2020-03-11 15:48] #311 closed

[2020-03-11 15:49] #329 closed

[2020-03-11 15:54] #238 closed

[2020-03-11 15:57] #237 closed

[2020-03-11 15:58] #239 closed

[2020-03-11 16:05] #265 closed

[2020-03-11 16:07] #317 closed

[2020-03-11 16:09] #310 closed

[2020-03-11 16:09] #312 closed

[2020-03-11 16:10] #314 closed

[2020-03-11 16:11] #319 closed

[2020-03-11 16:13] restrellado commented on #162
Closing this and referencing #324

[2020-03-11 16:13] #162 closed

[2020-03-11 16:13] restrellado commented on #324
Note more background in #162

[2020-03-11 22:00] #243 closed

[2020-03-11 22:07] restrellado commented on #338
Yep I’ll take care of this one

[2020-03-11 23:30] jrosen48 commented on #339
sounds good!

[2020-03-11 23:30] jrosen48 commented on #339
I'm okay to close this - I trust your judgment on this.

[2020-03-12 01:25] #339 closed

[2020-03-12 01:27] restrellado commented on #119
All done

[2020-03-12 01:27] #119 closed

[2020-03-12 01:34] jrosen48 commented on #345
Thanks so much @ramorel - will look into this!

[2020-03-12 01:36] jrosen48 commented on #340
@emilybovee may I ask if you could take a look at this? Wondering if this is due to when we temporarily had the wrong data (that made the fit look better than it ought to). Thank you for considering... and my sincere apologies for that issue, again.

[2020-03-12 01:36] jrosen48 commented on #337
This was addressed in #342

[2020-03-12 01:36] #337 closed

[2020-03-12 01:39] jrosen48 commented on #183
Wondering if there's a way to tell bookdown that we want the references to be rendered in APA format. That would help to address a number of these requirements at once.

There is something in the bookdown book on this, but it seems to suggest it only applies to the PDF output:

[code]

[2020-03-12 01:47] jrosen48 commented on #325
fixed in #350

[2020-03-12 01:47] #325 closed

[2020-03-12 02:16] ivelasq commented on #183
ahh, I think I  made a mistake in the index.Rmd file in that it's not in quotes!

[2020-03-12 02:16] ivelasq commented on #183
https://github.com/data-edu/data-science-in-education/blob/master/index.Rmd

[2020-03-12 02:16] ivelasq commented on #183
please feel free to fix and I will rerender.

[2020-03-12 02:21] jrosen48 commented on #183
sweet to the beat, will do

[2020-03-12 02:54] #183 closed

[2020-03-12 22:13] ivelasq commented on #183
Added the apa_pl.csl file and pandoc args to _output.yml and rerendered - looks like APA format now!

[2020-03-13 00:05] #345 closed

[2020-03-13 00:06] jrosen48 commented on #345
Leaving this open to confirm that #346 and #347 both worked as intended upon next rendering of the book - thanks again @ramorel, our sincerest gratitude!

[2020-03-13 00:37] jrosen48 commented on #327
This was addressed in #357

[2020-03-13 00:37] #327 closed

[2020-03-13 04:06] #280 closed

[2020-03-14 01:12] eringrand opened #360 "Update base R functions to tidyverse version if/when possible [WIP]"
I'm collecting places where I think you could replace a base R function with a tidyverse function to be more consistent across the book.

- Walkthrough 8: `na.omit` -> `drop_na()`

[2020-03-14 01:39] eringrand opened #361 "[WIP] Erin's thoughts during read through"
Using this issue as a place to put more general thoughts as I poke through the book.  I'm reading the version at https://datascienceineducation.com as of 3/13 so some of these things may be different than the codebase.

Foundational Skills:
- image missing

Walkthrough 1:
- Why sjPlot tab_model and not ggsummary?

Walkthrough 2:
- Why `summary` instead of `skimr::skim`?

Walkthrough 4:
- identical

[2020-03-15 02:11] restrellado commented on #338
Let's work on this one as part of #354

[2020-03-15 02:11] #338 closed

[2020-03-15 15:53] jrosen48 commented on #360
Thanks so much @eringrand!

[2020-03-15 15:56] jrosen48 commented on #361
Thanks so much for these super helpful contributions. One question - can you remind me what pkg ggsummary is from? I like the sound of it (and dislike tab_model(), in part for reasons @ivelasq brought up - it's hard for us to automatically caption the output, as we'll need to do per #165 if we continue to use it the way we are)

[2020-03-15 15:57] jrosen48 commented on #361
Also, I'm a `skimr::skim` fan! If others okay with this, wondering if there are other cases when `skimr::skim` may be more informative (and which we should also change). @kierisi @ivelasq @restrellado @emilybovee

[2020-03-15 15:58] jrosen48 commented on #361
Last, re: Walkthrough 4... yeah. @emilybovee do you have any thoughts on this? I feel like you had brought up subsetting before (and the merits of using tidyverse approaches *when possible*). If not possible here, wondering if a brief intro. to subsetting is merited).

[2020-03-15 15:59] jrosen48 commented on #361
Ty so much, again, @eringrand, needless to say, these are super helpful as we get the book closer to ready to share with the world (and the publisher).

[2020-03-15 17:20] ivelasq opened #371 "Incomplete paragraph in Chapter 16"
In 16.2.4 Anticipate issues, the paragraph ends with "For example...". Should we delete that or add examples?

[2020-03-16 05:25] eringrand commented on #361
Re. ggsummary, I got the name wrong, I was referring to the package {gtsummary}. More here - https://github.com/ddsjoberg/gtsummary

[2020-03-16 13:14] restrellado commented on #371
Tagging @jrosen48 on this to make sure he sees it

[2020-03-16 13:21] jrosen48 commented on #371
ty, on it!

[2020-03-16 13:32] jrosen48 commented on #361
Got it, thanks. This looks promising.

[2020-03-17 15:22] #163 closed

[2020-03-19 02:05] emilybovee opened #379 "Introduce `tidylog()` and add code to load that package in walkthrough chapters"
Per conversation w @jrosen48

[2020-03-21 18:48] ivelasq opened #383 "wrap code chunks"
Thinking about the print book, we should wrap the text in code chunks so that you can read everything. Any idea how many characters to wrap it at?

I can get to this once I finish the images/tables for the manuscript unless someone has capacity now! :)

[2020-03-21 22:38] ivelasq opened #387 "package references no longer linked?"
Hi @joshuarosenberg - wanted to put this on your radar, all the package references are no longer linking. I wonder if something got lost in the git shuffle. Could you please take a look?

[2020-03-21 23:23] jrosen48 commented on #387
on it!

Not to be conspiratorial, but I swear this has happened multiple times before!!! I can't figure it out, but will at the least create again in a PR.

[2020-03-21 23:26] jrosen48 commented on #387
is it possible bookdown is creating a `.packages.bib` file that is over-writing the one we're manually creating? hmmmmm

[2020-03-21 23:28] ivelasq commented on #387
Perhaps... check out the introduction.Rmd file, it says:
`bibliography: [book.bib, packages.bib]`
Should we move it?

On Sat, Mar 21, 2020 at 6:26 PM Joshua Rosenberg <notifications@github.com>
wrote:

[2020-03-21 23:47] jrosen48 commented on #387
If #388, then perhaps we can make some changes to that. I think I I had manually added `packages.bib` to that value - I think before it was only `bibliography: book.bib` (or `bibliography: [book.bib]).

[2020-03-22 15:11] ivelasq opened #390 "remove headings 4+"
Per the manuscript, we shouldn't have headings above 3. We could do a quick sweep. Maybe transform them to **bold**?

[2020-03-22 15:40] #387 closed

[2020-03-22 15:44] #293 closed

[2020-03-22 17:31] jrosen48 commented on #390
Tagging myself in here

[2020-03-22 17:34] jrosen48 commented on #371
Addressed in #359!

[2020-03-22 17:34] #371 closed

[2020-03-23 13:21] jrosen48 commented on #390
@emilybovee tagging you in here per #398

[2020-03-23 15:24] #326 closed

[2020-03-24 14:39] emilybovee commented on #390
Adding Josh's note to clarify the task here, per closed issue #398
I didn't do this for c6, as there is an open PR for it (#375). Tagging in @emilybovee - when you review that chapter, can you change level-4 headers into bold text? We can leave #390 open until we finish that review.

[2020-03-24 17:58] jrosen48 opened #404 "Things to focus on for Josh's read-through"
- keep in mind brevity/qualifying language per #362 and #373

[2020-03-25 14:48] restrellado commented on #263
Book has been rendering ok so closing this one

[2020-03-25 14:49] restrellado commented on #165
We have a system for exporting the plots now so I'm closing. If anyone sees problems with individual plots, please submit an issue. Thanks!

[2020-03-25 14:49] #165 closed

[2020-03-25 23:59] jrosen48 opened #414 "Edit all headers to be title case"

[2020-03-26 14:53] ivelasq opened #415 "Missing references"
I think we're on the home stretch of the references... please see the missing ones here:

pandoc-citeproc: reference learningstatswithr not found
pandoc-citeproc: reference msdatause not found
pandoc-citeproc: reference msdatause not found
pandoc-citeproc: reference eccles1983 not found
pandoc-citeproc: reference R-tabulizer not found
pandoc-citeproc: reference R-rJava not found
pandoc-citeproc: r

[2020-03-27 16:57] ivelasq commented on #415
@joshuarosenberg mind if I tag you on this?

[2020-03-27 16:58] jrosen48 commented on #415
thanks, on it

[2020-03-28 23:37] kierisi opened #420 "loading the tidyverse is redundant when loading dataedu"
the `tidyverse` is included as a dependency in `dataedu` - when we ask readers to load the `tidyverse` in a script where they're loading `dataedu` it's a redundant step.

if we move to put `dataedu` on CRAN we'll need to remove the `tidyverse` dependency, but I'm not sure if this is something we have the capacity to address prior to printing.

[2020-03-29 00:09] kierisi opened #421 "chapter 07: NAs introduced by coercion"
this assignment introduces NAs by coercion - if this is OK and intended, it would be helpful to include a sentence or two explaining what the error message `Warning message: NAs introduced by coercion ` means and how we got there (I think we talk about conversion between data types in a later walkthrough?)

`pre_survey <- pre_survey %>%
  mutate(student_id = as.numeric(student_id))` (line 568)

[2020-03-29 00:15] kierisi opened #422 "Chapter 07: custom dataedu ggplot theme throws error"
I'm able to resolve the error by removing the call to `theme_dataedu()`

running this code from line 854:
[code]

results in this error:
[code]

[2020-03-29 00:19] kierisi opened #423 "Chapter 07: ggplot drops five values"
when running the following code from line 877, the reader will encounter the following warning: `Warning message: Removed 5 rows containing missing values (geom_point). ` it would be helpful to have a sentence or two explaining what happened, assuming that this is intentional behavior.

[code]

[2020-03-29 00:35] jrosen48 opened #424 "add functions introduced section to foundational skills and walkthrough sections"
This will involve using the following two Google Docs documents:

- Walkthrough Tracking
- foundational_programming_skills_tracker

[2020-03-29 00:37] ivelasq opened #426 "edit css so you can see search box"

[2020-03-29 00:51] ivelasq commented on #415
Well, bookdown is magical. Now some of these references show up but others don't... (I may have messed up something with git too....):

New errors:
pandoc-citeproc: reference learningstatswithr not found
pandoc-citeproc: reference msdatause not found
pandoc-citeproc: reference msdatause not found
pandoc-citeproc: reference eccles1983 not found
pandoc-citeproc: reference disaggregate not found
pand

[2020-03-29 17:51] emilybovee commented on #424
Hey Josh, thanks for opening this. Let me know when you are going to work on this. I'm working on C5 today and likely C6 tomorrow/Tuesday

[2020-03-29 17:53] jrosen48 commented on #424
Yw! I can and hold off until later (Tues or later - will message you in Slack) - I am working on C10 today.

[2020-03-29 17:55] jrosen48 commented on #424
I am also thinking of adding a "Topics Covered", i.e.:

## Topics Covered

- Cleaning data
- Tidying data
- Exploring data
- Visualizing data

[2020-03-29 19:20] emilybovee commented on #390
Fixed in PR #429

[2020-03-29 19:20] #390 closed

[2020-03-29 21:21] jrosen48 opened #431 "In c9, show how to load the tabulizer-processed data in the walkthrough"
It should be joined data

[2020-03-29 22:50] kierisi opened #432 "ch8//walkthrough 2: needs information on where to find dataset"
text says `On your first read through this section try using our simulated dataset found in this book’s data/ folder.` but doesn't say _where_ to find the data folder (on github). would also benefit from information on how to access data from GitHub.

[2020-03-29 22:52] kierisi opened #433 "ch 8//walkthrough 2: incorrect reference to chapter 6"
section 8.4 reads `Recall how the Foundational Skills chapter recommended favoring .csv files, or comma-separated values files, when working with datasets in R? This is because .csv files, with the .csv file extension, are common in the digital world. `

however the Foundational Skills chapter (6) does not favor `.csv` and instead recommends accessing data through the `dataedu` package. informatio

[2020-03-29 22:54] kierisi opened #434 "ch 8//walkthrough 2: should mention Projects to be consistent with chapter 6"
Section 8.4 reads `We’ll show you two ways to import the gradebook dataset: The first is uses a file path. The second uses the here() function from the {here} package. We recommend using here()` and should _also_ reference using a Project with the `here()` function, which is the preferred workflow.

[2020-03-29 23:03] kierisi opened #435 "ch 8: remove whitespace"
[code]
# Creates new data frame, selects desired variables from gradebook, and gathers all classwork scores into key/value pairs
classwork_df <-
  gradebook %>%
  select(name,
    running_average,
    letter_grade,
    homeworks,
    classworks,
    formative_assessments,
    projects,
    summative_assessments,
    contains("classwork_")) %>%
  mutate_at(vars(contains("classwork_")), list(~ as.nu

[2020-03-29 23:16] #435 closed

[2020-03-29 23:24] kierisi opened #436 "chapter 9: rJava installation on Windows 10 is (also) hellacious"
The text mentions that installing rJava is tough on Macs, but [this](https://cimentadaj.github.io/blog/2018-05-25-installing-rjava-on-windows-10/installing-rjava-on-windows-10/) is the current process on Windows 10 - which I'd argue is pretty tough for someone not used to rooting around in their computer. I'd recommend making rJava optional for all platforms (although provide resources on accessin

[2020-03-29 23:33] kierisi opened #437 "chapter 10: data download links go to raw files"
the dataset links in chapter 10 go directly to raw files viewed in the browser, which cannot be downloaded. readers can still get the data into a .csv, but we'd need to provide more instruction on how to do that.

it might be more helpful to point to the file within the repo, since there's a download button available: https://github.com/data-edu/data-science-in-education/blob/master/data/longitudi

[2020-03-29 23:45] ivelasq commented on #431
Hey there! I went through, changed the {dataedu} data names to match, added info on how to use the package as well as data in the repo. Question for you: are you adding Functions Introduced? Right now there's only one there.

0fbd054bea4f59dd80d559d2a019e52b5d7fb79c

[2020-03-29 23:47] jrosen48 commented on #431
Sweet to the beat. Yes, will add more - just started here and in c10 (#428). I think it will be a bit of work but will be useful (and helpful for indexing). Made an issue for this very ... issue here: #424

[2020-03-30 15:27] restrellado commented on #263
This still isn't working, so reopening. The bookdown still renders because we set `eval = FALSE` in the code chunk `count species`. This results in the code chunk rendering in the book, but not showing the results. If we get ahead of our tasks for the 4/7 due date, we can tackle this one. For now, leaving the code chunk as `eval = FALSE`

[2020-03-31 22:00] #126 closed

[2020-03-31 23:52] ivelasq opened #441 "Chapter 14/Walkthrough 8 Narrative Review"
Hey all,

Awesome chapter! Had a great time reading through!! What an awesome final walkthrough and send off into the exciting world of ML.

I have a few questions that need your content expertise/opinions...

**Narrative**
- Do we have a source on how online instruction is becoming more prevalent?
- The tense changes throughout the chapter, because this is based on a previous analysis. To match t

[2020-04-01 00:30] ivelasq opened #442 "Chapter 12 warning"
Calling `as_tibble()` on a vector is discouraged, because the behavior is likely to change in the future. Use `tibble::enframe(name = NULL)` instead. (seen on lines 71 & 77)

[2020-04-01 00:49] jrosen48 commented on #437
I'm on this right now (over in #428)

[2020-04-01 01:11] jrosen48 commented on #414
this is done

[2020-04-01 01:11] #414 closed

[2020-04-01 01:11] jrosen48 commented on #414
in #417

[2020-04-01 01:11] jrosen48 commented on #404
addressed in our split up of chapters

[2020-04-01 01:12] #404 closed

[2020-04-01 01:23] jrosen48 commented on #383
I have been working on this for the chapters I've been reading for narrative.

these may be useful?

I use this: https://github.com/tjmahr/WrapRmd

This looks useful: https://rdrr.io/cran/knitr/man/wrap_rmd.html

[2020-04-01 01:24] jrosen48 commented on #383
I can work on this if okay. Do you have experience using the knitr function?

[2020-04-01 01:30] jrosen48 commented on #321
I think this might be addressed - is that right I can do a quick review to make sure.

[2020-04-01 01:31] jrosen48 commented on #426
assigned post manuscript to this

[2020-04-01 01:31] #426 closed

[2020-04-01 01:31] jrosen48 commented on #324
@restrellado finished this

[2020-04-01 01:31] #324 closed

[2020-04-01 01:32] jrosen48 commented on #324
in #323

[2020-04-01 01:44] ivelasq commented on #436
removed reference that installation is difficult on Macs; added the PDF file output to {dataedu} and have them it in the chapter now

[2020-04-02 00:34] kierisi opened #444 "chapter 9: data needs to be added to dataedu package"
the following code is offered as an option for accessing data, however the corresponding dataset is not (yet) in the package:

[code]

[2020-04-02 00:36] kierisi opened #445 "ch 9: add instructions on "get data from book repository""
as the title says, we have a couple spots (most recently in chapter 9) where we tell people to get data from the book repository, but we don't mention what that is or how to do it.

readers who may be unfamiliar with github won't likely associate the word repository with github and know to look there.

[2020-04-02 00:38] kierisi opened #446 "chapter 9: provide information on file structure"
the following code assumes that the reader has the same file structure as the chapter author:

[code]

it would be helpful to include a sentence either prior to the code chunk or within the code chunk explaining how this function works, and how the reader can _also_ get it to work on their home machine (that they'll need to create directories//folders).

[2020-04-02 00:52] ivelasq commented on #444
It is available in the package. Uploaded 3/29, you may need to reinstall the package to see it on your end: https://github.com/data-edu/dataedu/tree/master/data

[2020-04-02 00:55] #444 closed

[2020-04-02 01:09] kierisi opened #447 "ch 9: values don't match"
the following code returns a different output from what I see in the book:

[code]

the book says we should get `0.569`, and I get `NaN`

[2020-04-02 01:14] kierisi opened #448 "ch 9: graph doesn't show up"
I think something is wrong on my end, because the book is clearly rendering! this is more of a flag than something that's likely wrong, but I would love if someone could run the code on their machine to see if it works for them.

when I try to run the following code, my graph shows up devoid of data:

[code]

[2020-04-02 01:22] kierisi opened #449 "chapter 9: tibble error"
I receive the following error when creating the `race_df` dataframe:
[code]

[2020-04-02 02:07] kierisi opened #451 "chapter 10: package conflicts between here:here() and lubridate::here()"
swapping the loading order of packages so that `here` is the final package loaded will solve this problem. otherwise the reader may encounter a warning that `here()` is deprecated, which is referring to `lubridate::here()` and not `here::here()`.

[2020-04-02 02:15] kierisi opened #452 "chapter 10: object Year not found"
I'm not sure how to troubleshoot this one - `Year` is very clearly in the dataset, but I'm getting the error message: `Error in .f(.x[[i]], ...) : object 'Year' not found `

Code:
[code]

[2020-04-03 00:02] emilybovee opened #455 "Chapter 14: Should we specify packages to load?"
When running the code clean, realized that there are not library calls. I thought it would be good to specify which packages to load in case they are running this chapter in its own file.
Packages used, in order:
-dataedu
-tidyverse
-tidylog
- caret

[2020-04-03 00:14] emilybovee opened #456 "Chapter 14: Add description of tidylog"
I can do this

[2020-04-03 00:14] #379 closed

[2020-04-03 00:27] emilybovee opened #457 "Chapter 14: Verify all numbers in text"
Make sure that output in a new, non-book-project code file matches the text. For example in the Caret section
Maybe 2 people should do this? I have little faith in the reproducibility of this code at this moment in time... seems like setting the seed is not working

[2020-04-03 00:58] emilybovee commented on #455
additional pkgs
e1071
ranger

[2020-04-03 01:32] kierisi opened #458 "chapter 11: tidytext package installation comes after library(tidytext)"
in Chapter 11 there's a call to `library(tidytext)` in the first code block, and then later in the chapter we tell the reader to install {tidytext}. I recommend moving the {tidytext} installation to the paragraph ahead of the first code block, where we also tell readers to install {dataedu}.

[2020-04-03 01:37] kierisi opened #459 "chapter 11: package installation mid-chapter"
in the middle of the chapter we ask the reader to install `install.packages("textdata")` but then never load it using `library()` - it would be helpful to include an explanation as to why we don't need to do that (I'm not clear what it is, because I don't see any namespacing!) because this is inconsistent with what we talk about in other chapters.

[2020-04-03 01:49] kierisi opened #460 "chapter 12//book thoughts: installation prior to loading"
we have an inconsistent pattern in the book where we'll ask users to install packages before loading them (example: chapter 11), or we'll simply load the packages without mentioning that they may need to be installed (example: chapter 12)

it would be nice to have a consistent system for this so that readers who "choose their own adventure" in the text have the same experience between walkthroughs

[2020-04-03 01:51] kierisi opened #461 "chapter 12: does reader need a twitter account?"
I had to authorize a token to run the code - I'm assuming readers will need a Twitter account to do so as well. it would be helpful to include information on why they need a Twitter account, and to let them know what happens when they authorize a token (and also that it's OK to delete the Twitter account when they're done, if they'd like!)

[2020-04-03 01:54] ivelasq commented on #289
I think this is what we're doing now, right @restrellado ?

[2020-04-03 01:56] kierisi opened #462 "chapter 12: dataframe not found"
at the end of the chapter this chunk of code returns the error: `Error in is.data.frame(data) : object 'edgelist1' not found`

[code]

is there supposed to be an edgelist1? or is the `1` a typo?

[2020-04-03 01:58] ivelasq commented on #420
Tidyverse is not a dependency in dataedu - please see here: https://github.com/data-edu/dataedu/blob/master/DESCRIPTION. The tidyverse package is loaded with install_dataedu() though.

[2020-04-03 01:58] #420 closed

[2020-04-03 02:07] kierisi opened #463 "chapter 13: error in bookdown render?"
when I run the following code I get this error: `Warning message:
In model.matrix.default(~x - 1, model.frame(~x - 1), contrasts = FALSE) :
  non-list contrasts argument ignored`
[code]
and my output is:
![dummies_output](https://user-images.githubusercontent.com/23085445/78316629-c0605580-7525-11ea-8f8f-7b6612663165.png)

while the book is showing:
![book_render](https://user-images.githubusercon

[2020-04-03 02:08] kierisi opened #464 "chapter 13: results missing"
The text says:
Let's look at the results.
[code]
and then moves into the next paragraph, without should the results of the code.

[2020-04-03 02:10] kierisi opened #465 "chapter 13: bookdown duplicating tables"
table 13.1 is rendered twice in the bookdown version of the book

[2020-04-03 02:11] kierisi commented on #465
same for 13.2 and 13.3

[2020-04-03 02:12] kierisi opened #466 "chapter 13: package installation comes after package loading"
at the start of the chapter we ask the reader to load {lme4}, but then at the end of the chapter we ask them to install {lme4}. I would recommend moving the installation to above the code chunk with `library()`

[2020-04-03 02:13] kierisi commented on #466
the same is true for the {performance} package

[2020-04-03 03:24] #451 closed

[2020-04-03 03:49] ivelasq commented on #448
Fixed in #468. Thanks!

[2020-04-03 03:49] #448 closed

[2020-04-03 03:49] ivelasq commented on #447
Fixed in #468. Thanks!

[2020-04-03 03:49] #447 closed

[2020-04-03 03:49] ivelasq commented on #446
Fixed in #468. Thanks!

[2020-04-03 03:49] #446 closed

[2020-04-03 03:50] ivelasq commented on #445
Fixed in #468. Thanks!

[2020-04-03 03:50] #445 closed

[2020-04-03 11:14] jrosen48 commented on #424
draft of this is in G-docs - hoping to add to the book today

[2020-04-03 11:25] jrosen48 commented on #455
agree - @ivelasq were these perchance removed in the course of getting this chapter to render? j/w.

[2020-04-03 11:26] jrosen48 commented on #321
@ivelasq I can finalize this today, if this sounds good

[2020-04-03 11:27] jrosen48 commented on #383
made this post manuscript

[2020-04-03 11:27] #383 closed

[2020-04-03 11:39] jrosen48 commented on #415
Thanks - addressed in #470 - if we run again, will be curious about these first three, which are now showing up in one of the bibs

pandoc-citeproc: reference R-tabulizer not found -- in packages.bib - wondering what's up
pandoc-citeproc: reference R-rJava not found -- in packages.bib - wondering what's up
pandoc-citeproc: reference dsieurproposal not found - in book.bib - wondering whats up

pand

[2020-04-03 11:39] #415 closed

[2020-04-03 12:35] jrosen48 commented on #321
can do at the same time as adding functions introduced/topics covered as a part of #424

[2020-04-03 14:02] restrellado commented on #289
Yep indeed!

[2020-04-03 14:02] #289 closed

[2020-04-03 14:12] restrellado commented on #437
Addressed in #428.  Thanks @jrosen48!

[2020-04-03 14:12] #437 closed

[2020-04-03 14:30] ivelasq commented on #455
I don't know why they're missing - if I deleted them, sorry, I didn't mean to! I'm baffled that the book was able to render without them too...

[2020-04-03 14:40] restrellado commented on #195
@jrosen48 and I are working on this one today. Adding as many descriptions as we can, then doing general tidying up

[2020-04-03 14:45] #361 closed

[2020-04-03 14:46] #304 closed

[2020-04-03 14:46] #360 closed

[2020-04-03 14:48] ivelasq commented on #304
@restrellado just a heads up that mass_install() is now install_dataedu() in case you reference that specifically.

[2020-04-03 15:03] #436 closed

[2020-04-03 15:38] #322 closed

[2020-04-03 16:18] #458 closed

[2020-04-03 19:45] restrellado commented on #459
I looked into this. You need the {textdata} package installed for `tidytext::get_sentiments("nrc")` to work correctly. I uninstalled {textdata} and ran `get_sentiments("nrc")`, which returned

```Error: The textdata package is required to download the NRC word-emotion association lexicon. Install the textdata package to access this dataset.```

I installed {textdata} again and verified that you do

[2020-04-03 20:44] #459 closed

[2020-04-03 21:27] #195 closed

[2020-04-03 21:42] emilybovee commented on #455
I think this was probably me leaving them out and wasn't trying to point fingers at anyone! Happy to fix this later.

[2020-04-03 22:11] ivelasq commented on #455
Oh! I think it's because `echo = FALSE` for the chunk! Ghost library calls.

[2020-04-03 22:26] emilybovee commented on #455
You figured it out!! Thanks!!!! I guess we change it to echo = TRUE. lol

[2020-04-03 22:33] ivelasq commented on #449
Fixed in #480. Thanks!

[2020-04-03 22:33] #449 closed

[2020-04-03 22:34] ivelasq commented on #431
Hey there. I think (hope) I've resolved this. Let me know~

[2020-04-03 23:29] #433 closed

[2020-04-03 23:29] jrosen48 commented on #321
addressed in #484

[2020-04-03 23:29] #321 closed

[2020-04-04 00:22] #421 closed

[2020-04-04 00:22] #423 closed

[2020-04-04 00:25] kierisi commented on #422
fixed by installing `extrafont` - @ivelasq will update the `dataedu` package.

[2020-04-04 00:25] #422 closed

[2020-04-04 00:26] kierisi commented on #434
closing - mentioning Projects would need to be added throughout book to be consistent with Chapter 6.

[2020-04-04 00:26] #434 closed

[2020-04-04 00:30] kierisi commented on #442
fixed

[2020-04-04 00:30] #442 closed

[2020-04-04 00:35] kierisi commented on #461
fixed

[2020-04-04 00:35] #461 closed

[2020-04-04 00:41] kierisi commented on #432
fixed

[2020-04-04 00:41] #432 closed

[2020-04-04 01:25] ivelasq commented on #463
Fixed in #490. Used this as reference: https://stackoverflow.com/questions/47976971/r-dummies-package-weird-column-names-when-knitted-via-rmd

Thanks!

[2020-04-04 01:25] #463 closed

[2020-04-04 01:26] ivelasq commented on #263
Fixed it in #490. Turns out, dummies::dummy() doesn't create a real data.frame and doesn't play nicely when you try to treat it as one. Used this as reference: https://stackoverflow.com/questions/47976971/r-dummies-package-weird-column-names-when-knitted-via-rmd

Thanks!

[2020-04-04 01:26] #263 closed

[2020-04-04 01:28] ivelasq commented on #465
Fixed in #490! Thanks.

[2020-04-04 01:28] #465 closed

[2020-04-04 01:29] ivelasq commented on #464
Fixed in #490. Thanks!

[2020-04-04 01:29] #464 closed

[2020-04-04 02:04] emilybovee commented on #441
Good ideas. Sorry I missed these questions until now.

[2020-04-04 02:15] emilybovee commented on #441
- Present tense sounds good.

- That's a good question about the methodology detail level @jrosen48 what do you think?

- Regarding the confusing line: yeah, let's take that out. That little fiend was causing us all sorts of headaches.

-

[2020-04-04 02:17] emilybovee commented on #441
Re: data

- For df vs. data: oh good, good to know, I do this a lot so I should adjust...

- For S217: weird, maybe that was an artifact of an old version of the dataset?

- For the values changing, hopefully we fixed that...

[2020-04-04 02:31] emilybovee commented on #455
fixed

[2020-04-04 02:31] #455 closed

[2020-04-04 02:32] emilybovee commented on #457
checked and fixed

[2020-04-04 02:32] #457 closed

[2020-04-04 02:32] emilybovee commented on #340
closing because we have finally triumphed @jrosen48 @ivelasq

[2020-04-04 02:32] #340 closed

[2020-04-04 02:42] jrosen48 commented on #424
will do this first thing tomorrow!

[2020-04-04 02:42] jrosen48 commented on #431
assigned to me to check tomorrow! am sure it's ready

[2020-04-04 02:44] jrosen48 commented on #462
will check this. wonder if this was supposed to be eval = FALSE

[2020-04-04 02:44] jrosen48 commented on #462
first thing tomorrow am

[2020-04-04 02:44] jrosen48 commented on #466
will address (and move)

[2020-04-04 03:07] emilybovee commented on #441
For tense: I think that the actual walk-through steps are in the right tense, but the sentences describing the study context are in past tense. Are we okay with that? I tend to think that describing the research study from the past in the present tense would feel awkward. CC @ivelasq

[2020-04-04 03:54] emilybovee commented on #441
Fixed w pr #495

[2020-04-04 03:54] #441 closed

[2020-04-04 03:54] emilybovee commented on #456
fixed w pr #495

[2020-04-04 03:54] #456 closed

[2020-04-04 05:38] restrellado commented on #452
We can still reproduce the problem by downloading the CSVs using a Windows machine. Still working on this one

[2020-04-04 06:15] restrellado commented on #452
More research on this:

When I download on my Mac using code like this for each dataset:

[code]

The files download as expected. Each year of data has 4 extra lines on top except for 2016, which has 3 extra lines on top.

When we download to a Windows machine using the same script, there are extra lines at the top of each dataset. This causes the cleaning script in this chapter to work incorrectl

[2020-04-04 12:06] jrosen48 commented on #460
can work on this too - will plan to mention that they may need to be installed in every case

[2020-04-04 12:46] jrosen48 commented on #431
looks good!

[2020-04-04 12:46] #431 closed

[2020-04-04 13:08] jrosen48 commented on #462
added this parenthetical statement to the description of why this code is included (and moved it to the appendix, where it belonged!): "(which is not run, but is included as an example of the code for this kind of selection model)"

[2020-04-04 13:08] #462 closed

[2020-04-04 13:36] jrosen48 commented on #466
added descriptions to each of the chapters -- reminding readers (after the first walkthrough, where I included slightly more specific instructions) to install packages via `install.packages()` and referring back to the packages section fo the foundational skills chapter for an overview and description of how to do this, if needed.

[2020-04-04 13:36] #466 closed

[2020-04-04 13:37] jrosen48 commented on #460
added descriptions to each of the chapters -- reminding readers (after the first walkthrough, where I included slightly more specific instructions) to install packages via `install.packages()` and referring back to the packages section fo the foundational skills chapter for an overview and description of how to do this, if needed.

[2020-04-04 13:37] #460 closed

[2020-04-04 16:11] #452 closed

[2020-04-04 16:16] restrellado commented on #452
Thank you to [Ellis](https://twitter.com/ellis_hughes) for this solution!

[2020-04-04 20:21] jrosen48 commented on #424
addressed in #507

[2020-04-04 20:21] #424 closed

[2020-04-05 16:31] emilybovee opened #514 "Chapter 16 Bookdown renders with numbers in headers"

[2020-04-05 16:38] #514 closed

[2020-04-08 12:52] gvwilson opened #519 "Unable to build with R 3.6.0 on Mac OS 10.13.6"
-   Cloned this repo to my Mac
-   `HEAD` is `5df2127ff`
-   `bash ./_build.sh` produces warnings about missing packages
    -   See below for what I've installed
-   Still getting error from lines 905-919 (07-wt-ed-ds-pipeline.Rmd) (see error log attached).

Installation:

[code]

R:

[code]

Output from `_build.sh`:

[code]

[2020-04-08 15:01] restrellado opened #520 "Image for MA dataset needs to be updated"
The screenshot showing MA schools needs to be updated to the version we're using in the book

[2020-04-08 15:10] jrosen48 commented on #519
We are looking into this now - sorry about this (and thanks very much for telling us about it).

[2020-04-09 04:06] restrellado commented on #519
Thanks @gvwilson! I'm tagging @ivelasq in on this, who's been guiding me through the process. Here's more info:

I can reproduce the error when I
 - knit ch 7 on my Mac
 - knit another chapter that uses `theme_dataedu()`, like ch 11. Or when I
 - run this code:

[code]
Ch 7 knits properly when I

 - remove `+ theme_dataedu()` from each {ggplot2} code chunk or when I
 - replace `+ theme_dataedu()`

[2020-04-09 05:10] ivelasq commented on #520
Fixed in #521. Thanks!

[2020-04-09 05:10] #520 closed

[2020-04-09 05:16] restrellado commented on #519
Kudos to @ivelasq for teaming up on this. We're pretty sure this has to do with a missing Gill Sans MT font, at least on my Mac. @gvwilson do you have Gill Sans MT installed on your Mac?

After I installed Gill Sans MT and ran

[code]
it worked fine. Then we restarted R and knitted Ch 7, which also worked.

@ivelasq is looking for a way for {dataedu} to check for Gill Sans MT. Then we can default

[2020-04-28 17:22] ivelasq opened #525 "Need corrections based on reader feedback"
10.7.1 Code chunk missing before the last paragraph.
10.7.2 Why do you use 'select_at' in the function, and not the vanilla 'select'?
10.7.4 Shouldn't the name of the dataset be child_counts?
10.8.2 "To answer that question, let’s start by making a new dataset that excludes any rows where the f variables has a value that is less than or equal to 500,000. " I think this should say "includes only ro

[2020-05-15 10:49] jrosen48 commented on #519
@restrellado can you say from where you downloaded Gill Sans MT? Found one set of fonts to download, but none seem to be the "base" font (i.e., they're for bold, italic, etc.). I may be misunderstanding how font files work.Having what I think is this same issue with a fresh install of the pkg.!

[2020-06-01 02:41] ivelasq commented on #519
Hi @gvwilson, we've updated the {dataedu} package and hope that it resolves the font issue you were encountering. Please reinstall and let us know how it goes! Thanks!

[2020-06-01 21:45] gvwilson commented on #519
Hi @ivelasq - unfortunately it still fails to build for me. I have done the following to correct early errors:

[code]

but it still fails with:

[code]

I am sync'd with commit bf7cc9c5633e.

[2020-06-03 04:39] restrellado commented on #519
Hi @gvwilson Sorry that happened! This can happen if you don't have the NRC Word-Emotion Association Lexicon downloaded yet. If that's true for you, can you please try running this in your console:

[code]

If you don't already have NRC downloaded, R should prompt you to download it. I think the build breaks when it gets to this part because it doesn't have a way to get a "Yes" from you. Let us kn

[2020-06-03 10:35] gvwilson commented on #519
Thanks - I installed that interactively and re-ran `./_build.sh`. I then rebuilt several times, each build failing on another missing package:

- `randomNames`
- `dummies`
- `caret`
- `ranger`
- `tidylog`

The first two were not available for R 3.6.0 on the first CRAN mirror I tried, but were available from the Tokyo mirror.

Even with these installed, the build failed because of a missing package

[2020-06-03 14:12] ivelasq commented on #519
Hi @gvwilson ! I think we're almost there! I suspect that the missing package is the {ranger} package - could you install and let us know how it goes? Thanks!

[2020-06-03 14:55] ivelasq opened #528 "Add ranger package to Ch. 14"
I ran into this when I upgraded to 4.0 and lost all my packages... Ch. 14 wouldn't render without the ranger package. I don't think it needs to be called once installed because I was able to render it before without the library call, but would be good to add it to the chapter so new users aren't confused. I also added it to `dataedu_packages()` in dataedu.

[2020-06-03 14:59] gvwilson commented on #519
Hi @ivelasq - `ranger` was the 4th package I installed this morning before getting as far as the error above (the list's at the top of my post). Thanks - Greg

[2020-06-03 15:23] ivelasq commented on #519
Hi @gvwilson , could you please try with the {randomForest} package installed whenever you get the chance?

Another thought is that maybe the {ranger} library needs to be called in the RMarkdown file - that wasn't the case when we rendered it in the past, though.

Thanks!

[2020-06-03 15:55] gvwilson commented on #519
I have installed `randomForest`, and now get this error at the end of the output:

[code]

[2020-06-28 16:57] gvwilson commented on #519
Made some more progress but am still blocked:

1. Got past previous error using `install.packages('e1071')`.

2. However, final output of `_build.sh` is now:

[code]

I edited `before_script.R` to change the `dpi` value from the string `"300"` to the integer `300`. That got me as far as:

[code]

[2020-06-28 23:02] restrellado commented on #519
Hi Greg! Going to try a different approach–I'll do a fresh clone and see if I can reproduce it too. More soon!

[2020-06-28 23:38] ivelasq opened #529 "Add e1071 to Chapter 14"

[2020-06-29 02:21] restrellado commented on #519
Hi again! Ok so we were able to get it to render after downloading a fresh clone of the repo. The only changes we had to make were installing packages I didn't have. We used `dataedu::dataedu_packages()` to do that. We also had to install {png}, {RefManageR}, and {e1071}. But after all that, it rendered successfully. Here's my session info:

[code]
@ivelasq did a little more research and thinks it

[2020-06-29 02:38] ivelasq commented on #519
Thanks Ryan! Hi Greg, thanks for the update. Like Ryan said, I found this issue where it states that Arial Narrow was missing, which was causing the problem. They download it using {extrafont}. Could you please try that, and let us know if it works?
https://datascienceineducation.com/c12.html#plotting-the-network

I actually hadn't noticed, but I was missing this font as well! For some reason, my

[2020-06-29 11:50] gvwilson commented on #519
Thanks for the feedback - here's where I've gotten to:

## Re-run `devtools::install_github('data-edu/dataedu')

Note: maybe add a section in Chapter 2 on installation instructions, either standalone or a forward ref to Section 5.7? O'Reilly books have conditioned me to look for installation instructions early on, and I think other instructors might as well.

## `sessionInfo()`

[code]

## `dataed

[2020-07-01 17:18] ivelasq commented on #519
Thanks Greg! Closing issue now.

[2020-07-01 17:18] #519 closed

[2020-07-03 18:13] restrellado commented on #525
Hey @jrosen48! I started looking into the feedback about chapter 13 and I think I'll defer to you on this one. Looks like the intercept in 13.7 was a typo–should be 73.20.

Also in chapter 13, it looks like the word "percentage" is correct, since the values of `dat$final_grade` go from 0–100. I'd leave that part alone unless I'm missing something:

And finally, re: this

. . . definitely should de

[2020-07-03 22:40] jrosen48 commented on #525
on it

[2020-07-03 22:40] jrosen48 commented on #525
thanks for triaging these

[2020-08-04 18:39] jennybc opened #548 "googlesheets --> googlesheets4"
It would be good to switch over to googlesheets4.

I might make such a PR but wanted to put this on the radar regardless.

[2020-08-09 18:15] restrellado commented on #548
Thanks for looking out @jennybc ! We're definitely going to do this.

[2020-12-27 23:32] jimmyvluong opened #550 "7.9 Process Data"
Hi, I'm new to GitHub and pull requests etc. so sorry if this is the wrong place for this!

I am working through Walkthrough 1 and noticed that the output for the below code does not match the output below it.
Should the last line of code be modified so that it is:
**Proposed code:**
[code]

**Existing code:**
[code]

**Intended output:**
[code]

**Actual output:**
[code]

[2020-12-28 00:56] #550 closed

[2020-12-29 20:56] jimmyvluong opened #551 "7.11 Interpretation of regression model results"
Hi,

I'm working through the first walkthrough and noticed that in the final section,
"...FrSc—forensic science—and Ocn—oceanography..." are associated with a higher final grade. Shouldn't the two subjects associated with a higher final grade be "forensic science" and "physics"?

Jimmy

[2020-12-29 21:25] ivelasq commented on #551
Hi Jimmy! Yes, you are correct. This is fixed in the print version of the book but we'll fix it in the bookdown! Thank you so much - I'll close this thread once we fix this error!

[2020-12-29 23:54] ivelasq commented on #551
Fixed in #552! Thanks again, Jimmy!

[2020-12-29 23:54] #551 closed

[2021-01-19 01:24] #525 closed

[2021-01-24 18:39] ivelasq opened #555 "Update book with dplyr 1.x"

[2021-01-24 18:40] ivelasq opened #556 "Add code to dataedu package"

[2021-01-24 18:40] ivelasq opened #557 "Add edits from final version of book"

[2021-01-24 18:48] jrosen48 opened #558 "Switch from travis to GitHub Actions?"
https://ropenscilabs.github.io/actions_sandbox/

I followed the above instructions for another project - it worked relatively painlessly! Travis is shutting down free accounts (I think/mostly) within a few weeks.

[2021-03-17 22:11] ivelasq opened #560 "Write up errata for Chapter 14"
Write up errata for Chapter 14 - edits made by @restrellado - can post it on https://data-edu.github.io/dsieur/

[2021-03-17 22:14] ivelasq opened #561 "Flesh out 4.2.4 Advancing Equity"

[2021-03-17 22:15] ivelasq opened #562 "Walkthrough 2 - order graph"
Order boxplot graph and remove the color coding (make one color)

[2021-03-17 22:17] ivelasq opened #563 "Walkthrough 2 - examine autocorrelation"
Are formative assessments and grade dependent? If not, there may be autocorrelation and we shouldn't use linear regression.

[2021-03-17 22:37] #528 closed

[2021-03-18 00:32] morganlig opened #564 "Walkthrough 2 - typos"
Typo at the very end -

And the comment in the code chunk should not be "Scatterplot" -

[2021-03-22 19:17] ivelasq opened #565 "Use forcats for reverse code?"
Something to consider

[2021-03-31 17:46] ivelasq opened #566 "Typos"
Chapter 10.8.2: sentence starting with "use mutate" is missing a period

[2021-04-14 21:17] ivelasq opened #567 "Add more on network concepts for walkthrough 5"

[2021-04-21 21:34] ivelasq opened #568 "Chapter 13 - edits"
1) Use {fastdummies} (tidyverse) for dummy variables
2) Replace iris data set

[2021-04-21 21:34] ivelasq opened #569 "Generally add more on what to do with analysis/results"

[2021-09-26 20:08] ivelasq commented on #558
Ooh thanks Josh, I also know that we are supposed to do this because Travis is unsafe, as well. Did you have to do anything to remove Travis?

[2021-09-26 22:19] #566 closed

[2021-09-26 22:20] ivelasq commented on #564
Thanks @morganlig !

[2021-09-26 22:20] #564 closed

[2021-09-26 22:20] #562 closed

[2021-09-26 22:20] #529 closed

[2021-09-27 06:22] ivelasq opened #572 "Add suggested exercises at end of chapters"

[2021-09-30 17:54] ivelasq opened #573 "Add alternative text where there isn't any"

[2022-08-30 12:47] RobertTalbert opened #576 "NRC lexicon unavailable"
Hi, in Chapter 11, it says to use the NRC lexicon for sentiment analysis. However using `get_sentiments("nrc")` returns an error when I select "1" from the little install menu that comes up:

[code]

[Apparently this has been an issue for a couple of years now](https://stackoverflow.com/questions/63798108/get-sentiments-error-when-trying-to-access-nrc-lexicon). There are workarounds but perhaps th

[2022-09-06 13:29] RobertTalbert opened #577 "dummies package is no longer available"
Chapter 13 of the book uses the `dummies` package, but there is an error when loading it:

[code]

It looks like the package has simply been removed: https://cran.r-project.org/web/packages/dummies/index.html